/*-----------------------------------------------------------------------------
    action
-----------------------------------------------------------------------------*/
.action {
    color: #fff;
    background: #2c38a8 image-url('bg-shedule.jpg') 50% 0 no-repeat;
    background-size: cover;
}

.action_cta {
}

@include scrn_l {
    .action {
        background-image: image-url('bg-shedule_l.jpg');
    }
}

@include scrn_m {
    .action {
        padding: 45px 0;
        .container {
            width: 720px;
        }
    }
}

@include scrn_s {
    .action {
        background-image: image-url('bg-shedule_s.jpg');
        .container {
            width: 280px;
        }
    }
}
/*-----------------------------------------------------------------------------
    /action
-----------------------------------------------------------------------------*/
