/*-----------------------------------------------------------------------------
    additions
-----------------------------------------------------------------------------*/
.additions {
}

.additions_h {
    margin-bottom: 67px;
}

.additions_list {
    position: relative;

    height: image-height('additions/1.png') + image-height('additions/6.jpg') + 10px - 13px;
}

.additions_i {
    font-size: 20px;
    line-height: 32px;

    position: absolute;

    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 30px;

    transition: all .3s;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #000;
    &:hover {
        transform: scale(1.015);
    }
    &.__i-1 {
        top: -18px;
        left: 0;

        padding-top: 51px;
        
        @include img-bg('additions/1.png');
        @include img-size('additions/1.png');
    }
    &.__i-2 {
        top: 0;
        right: 0;
    }
    &.__i-3 {
        top: image-height('additions/2.jpg') + 10px;
        right: image-width('additions/4.jpg') + 10px;
    }
    &.__i-4 {
        top: image-height('additions/2.jpg') + 10px;
        right: 0;
    }
    &.__i-5 {
        top: image-height('additions/2.jpg') + image-height('additions/3.jpg') + 10px*2;
        right: image-width('additions/4.jpg') + 10px;
    }
    &.__i-6 {
        bottom: 5px;
        left: 0;
    }
    &.__i-7 {
        right: image-width('additions/8.jpg') + 10px;
        bottom: 0;
    }
    &.__i-8 {
        right: 0;
        bottom: 0;
    }
    @for $i from 2 through 8 {
        &.__i-#{$i} {
            @include img-size('additions/#{$i}.jpg');
            @include img-bg('additions/#{$i}.jpg');
        }
    }
}

.additions_i_img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
}

@include scrn_l {
    .additions {
        padding-bottom: 50px;
    }
    .additions_list {
        height: image-height('additions/1_l.png') + image-height('additions/6_l.jpg') + 10px - 13px;
    }
    .additions_i {
        padding-right: 80px;
        &.__i-1 {
            top: -18px;
            left: 0;

            padding-top: 51px;
            
            @include img-bg('additions/1_l.png');
            @include img-size('additions/1_l.png');
        }
        &.__i-2 {
            top: 0;
            right: 0;
        }
        &.__i-3 {
            top: image-height('additions/2_l.jpg') + 10px;
            right: image-width('additions/4_l.jpg') + 10px;
        }
        &.__i-4 {
            top: image-height('additions/2_l.jpg') + 10px;
            right: 0;
        }
        &.__i-5 {
            top: image-height('additions/2_l.jpg') + image-height('additions/3_l.jpg') + 10px*2;
            right: image-width('additions/4_l.jpg') + 10px;
        }
        &.__i-6 {
            top: image-height('additions/2_l.jpg') + image-height('additions/3_l.jpg') + 10px*2;
            left: 0;
        }
        &.__i-7 {
            right: image-width('additions/8_l.jpg') + 10px;
            top: image-height('additions/2_l.jpg') + image-height('additions/3_l.jpg') + 10px*2;
        }
        &.__i-8 {
            right: 0;
            top: image-height('additions/2_l.jpg') + image-height('additions/3_l.jpg') + image-height('additions/5_l.jpg') + 10px*3;
        }
        @for $i from 2 through 8 {
            &.__i-#{$i} {
                @include img-size('additions/#{$i}_l.jpg');
                @include img-bg('additions/#{$i}_l.jpg');
            }
        }
    }
}
@include scrn_m {
    .additions {
        .container {
            width: 720px;
        }
    }
    .additions_h {
        margin-bottom: 55px;
    }
    .additions_list {
        height: image-height('additions/1_m.png') + image-height('additions/6_m.jpg') + 10px - 10px;
    }
    .additions_i {
        font-size: 16px;
        padding-right: 30px;
        line-height: 23px;
        &.__i-1 {
            top: -14px;
            left: 0;

            padding-top: 51px;
            
            @include img-bg('additions/1_m.png');
            @include img-size('additions/1_m.png');
        }
        &.__i-2 {
            top: 0;
            right: 0;
        }
        &.__i-3 {
            top: image-height('additions/2_m.jpg') + 10px;
            right: image-width('additions/4_m.jpg') + 10px;
        }
        &.__i-4 {
            top: image-height('additions/2_m.jpg') + 10px;
            right: 0;
        }
        &.__i-5 {
            top: image-height('additions/2_m.jpg') + image-height('additions/3_m.jpg') + 10px*2;
            right: image-width('additions/4_m.jpg') + 10px;
        }
        &.__i-6 {
            top: image-height('additions/2_m.jpg') + image-height('additions/3_m.jpg') + 10px*2;
            left: 0;
        }
        &.__i-7 {
            right: image-width('additions/8_m.jpg') + 10px;
            top: image-height('additions/2_m.jpg') + image-height('additions/3_m.jpg') + 10px*2;
        }
        &.__i-8 {
            right: 0;
            top: image-height('additions/2_m.jpg') + image-height('additions/3_m.jpg') + image-height('additions/5_m.jpg') + 10px*3;
        }
        @for $i from 2 through 8 {
            &.__i-#{$i} {
                @include img-size('additions/#{$i}_m.jpg');
                @include img-bg('additions/#{$i}_m.jpg');
            }
        }
    }
}
@include scrn_s {
    .additions {
        .container {
            width: 280px;
        }
    }
    .additions_h {
        margin-bottom: 40px;
    }
    .additions_list {
        height: image-height('additions/1_s.png') + image-height('additions/7_s.jpg') + image-height('additions/2_s.jpg') + image-height('additions/4_s.jpg') + image-height('additions/8_s.jpg') + 10px*4 - 7px;
    }
    .additions_i {
        font-size: 12px;
        line-height: 18px;
        padding-top: 15px;
        padding-left: 15px;
        &.__i-1 {
            top: -7px;
            left: 0;

            padding-top: 51px;
            
            @include img-bg('additions/1_s.png');
            @include img-size('additions/1_s.png');
        }
        &.__i-2 {
            top: image-height('additions/1_s.png') + image-height('additions/6_s.jpg') + 10px*2 - 7px;
            right: 0;
        }
        &.__i-3 {
            top: image-height('additions/1_s.png') + image-height('additions/6_s.jpg') + image-height('additions/2_s.jpg') + 10px*3 - 7px;
            right: auto;
            left: 0;
        }
        &.__i-4 {
            top: image-height('additions/1_s.png') + image-height('additions/6_s.jpg') + image-height('additions/2_s.jpg') + 10px*3 - 7px;
            right: 0;
        }
        &.__i-5 {
            top: image-height('additions/1_s.png') + image-height('additions/6_s.jpg') + image-height('additions/2_s.jpg') + image-height('additions/3_s.jpg') + 10px*4 - 7px;
            right: auto;
            left: 0;
        }
        &.__i-6 {
            top: image-height('additions/1_s.png') + 10px - 7px;
            left: 0;
        }
        &.__i-7 {
            top: image-height('additions/1_s.png') + 10px - 7px;
            right: 0;
        }
        &.__i-8 {
            left: 0;
            bottom: 0;
            top: auto;
        }
        @for $i from 2 through 8 {
            &.__i-#{$i} {
                @include img-size('additions/#{$i}_s.jpg');
                @include img-bg('additions/#{$i}_s.jpg');
            }
        }
    }
}
/*-----------------------------------------------------------------------------
    /additions
-----------------------------------------------------------------------------*/
