/*-----------------------------------------------------------------------------
    classes
-----------------------------------------------------------------------------*/
.classes {
    background-color: #eceefa;
}

.classes_h {
    margin-bottom: 84px;
}

.classes-ctn {
    width: 960px;
    margin: 0 auto -80px;
}

.classes_i {
    margin-bottom: 80px;
}

@include scrn_l {
    .classes {
        padding-top: 80px;
        padding-bottom: 62px;
    }
}

@include scrn_m {
    .classes_h {
        margin-bottom: 70px;
    }
    .classes-ctn {
        width: auto;
        margin-bottom: -60px;
    }
    .classes_i {
        margin-bottom: 60px;
    }
}

@include scrn_s {
    .classes {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .classes_h {
        margin-bottom: 35px;
    }
    .classes-ctn {
        width: auto;
        margin-bottom: -40px;
    }
    .classes_i {
        margin-bottom: 40px;
    }
}
/*-----------------------------------------------------------------------------
    /classes
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    class
-----------------------------------------------------------------------------*/
.class {
    position: relative;
    &:hover {
        .class_img {
            transform: scale(1.025);
        }
    }
    @for $i from 1 through 3 {
        &.__v#{$i} {
            min-height: image-height('classes/class-#{$i}.jpg');
        }
    }
    &.__img-right {
        .class_img {
            margin-left: auto;
        }
        .class_border {
            right: 460px;
        }
    }
    &.__img-left {
        .class_img {
            margin-right: auto;
        }
        .class_border {
            left: 460px;
        }
    }
}

.class_img {
    position: relative;
    z-index: 1;

    display: block;

    transition: all .5s;
    @for $i from 1 through 3 {
        .__v#{$i} & {
            @include img-size('classes/class-#{$i}.jpg');
            @include img-bg('classes/class-#{$i}.jpg');
        }
    }
}

.class_border {
    position: absolute;
    z-index: 2;
    top: 50%;

    box-sizing: border-box;

    transform: translateY(-50%);
    .__v1 & {
        padding: 1px 115px 0 50px;

        @include get-sprite($borders, 'border-1');
    }
    .__v2 & {
        padding: 46px 33px 0 104px;

        @include get-sprite($borders, 'border-2');
    }
    .__v3 & {
        padding: 46px 112px 0 55px;

        @include get-sprite($borders, 'border-3');
    }
}

.class_cnt {
    .__v1 & {
        margin-top: -15px;
    }
    .__v3 & {
        margin-left: -5px;
    }
}

.class_h {
    font-size: 24px;
    font-weight: 700;

    display: block;

    margin-bottom: 20px;

    text-transform: uppercase;

    color: #2b37a5;
}

.class_tx {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    display: block;

    margin-bottom: 20px;

    color: #73789e;
}

.class_btn {
}

.class_more {
    display: block;
    color: #2b37a5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .08em;
    margin: 20px 0 0 17px;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@include scrn_l {
    .class_btn {
        padding: 14px 35px;
    }
}

@include scrn_m {
    .class {
        &.__img-right {
            .class_border {
                left: 0;
                right: auto;
            }
        }
        &.__img-left {
            .class_border {
                right: 0;
                left: auto;
            }
        }
        @for $i from 1 through 3 {
            &.__v#{$i} {
                min-height: image-height('classes/class-#{$i}_m.jpg');
            }
        }
    }
    .class_img {
        @for $i from 1 through 3 {
            .__v#{$i} & {
                @include img-size('classes/class-#{$i}_m.jpg');
                @include img-bg('classes/class-#{$i}_m.jpg');
            }
        }
    }
    .class_border {
        .__v2 & {
            padding: 47px 33px 0 108px;
        }
        .__v3 & {
            padding-left: 70px;
        }
    }
    .class_btn {
        padding: 14px 35px;
    }
}

@include scrn_s {
    .class {
        &.__v1 {
            min-height: 440px;
        }
        &.__v2 {
            min-height: 460px;
        }
        &.__v3 {
            min-height: 430px;
        }
    }
    .class_img {
        @for $i from 1 through 3 {
            .__v#{$i} & {
                @include img-size('classes/class-#{$i}_s.jpg');
                @include img-bg('classes/class-#{$i}_s.jpg');
            }
        }
    }
    .class_border {
        left: 50% !important;
        transform: translateX(-50%);
        .__v1 & {
            top: 173px;
            padding: 51px 25px 0 22px;

            @include get-sprite($borders, 'border-1_s');
        }
        .__v2 & {
            top: 173px;
            padding: 53px 45px 0 0;

            @include get-sprite($borders, 'border-2_s');
        }
        .__v3 & {
            top: 173px;
            padding: 37px 30px 0 27px;

            @include get-sprite($borders, 'border-3_s');
        }
    }
    .class_h {
        font-size: 16px;
        line-height: 1;
        margin-bottom: 14px;
    }
    .class_tx {
        font-size: 14px;
        line-height: 24px;
    }
    .class_btn {
        padding: 14px 35px;
    }
}
/*-----------------------------------------------------------------------------
    /class
-----------------------------------------------------------------------------*/
