/*-----------------------------------------------------------------------------
    contacts
-----------------------------------------------------------------------------*/
.contacts {
}

.contacts_h {
    margin-bottom: 75px;
}

.contacts_cnt {
    @include pie-clearfix;
}

.contacts_i {
    position: relative;

    float: left;

    padding-left: 40px;
    &:before {
        position: absolute;
        top: 0;
        left: 0;

        content: '';
    }
    &.__addr {
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;

        width: 440px;
        margin-right: 40px;
        margin-left: 170px;
        &:before {
            @include get-sprite($icons, 'addr-pink');
        }
    }
    &.__phone {
        padding-left: 50px;
        &:before {
            @include get-sprite($icons, 'phone-pink');
        }
    }
}

.contacts_phone-lk {
    font-size: 20px;

    display: block;

    margin-bottom: 20px;

    text-decoration: none;

    color: #000;
}

.contacts_lk {
    font-size: 15px;
    font-weight: 700;

    display: block;

    margin-bottom: 25px;

    text-decoration: underline;
    text-transform: uppercase;

    color: #2b37a5;
    &:hover {
        text-decoration: none;
    }
}

.contacts_social {
    margin-top: 16px;
}

@include scrn_l {
    .contacts_i {
        &.__addr {
            width: 420px;
            margin-left: 110px;
        }
    }
}

@include scrn_m {
    .contacts {
        .container {
            width: 720px;
        }
    }
    .contacts_h {
        margin-bottom: 55px;
    }
    .contacts_i {
        &.__addr {
            width: 260px;
            margin-left: 75px;
        }
    }
}

@include scrn_s {
    .contacts {
        padding-bottom: 50px - 30px;
        .container {
            width: 280px;
        }
    }
    .contacts_h {
        margin-bottom: 40px;
    }
    .contacts_i {
        width: auto !important;
        margin: 0 auto 30px !important;
        padding: 0 !important;
        text-align: center;
        font-size: 18px;
        float: none;
        &:before {
            left: 50%;
        }
        &.__addr {
            padding-top: get-sprite-height($icons, 'addr-pink') + 15px !important;
            &:before {
                margin-left: -(get-sprite-height($icons, 'addr-pink') / 2);
            }
        }
        &.__phone {
            padding-top: get-sprite-height($icons, 'phone-pink') + 15px !important;
            &:before {
                margin-left: -(get-sprite-height($icons, 'phone-pink') / 2);
            }
        }
    }
    .contacts_social {
        .social {
            text-align: center;
        }
    }
}
/*-----------------------------------------------------------------------------
    /contacts
-----------------------------------------------------------------------------*/
