/*-----------------------------------------------------------------------------
    cta-form
-----------------------------------------------------------------------------*/
.cta-form {
    text-align: center;
    &.__v3 {
        margin: auto;
        padding-top: 1px;

        @include get-sprite($borders, 'border-4');
    }
}

.cta-form_t {
    display: block;
    .__v1 & {
        font-size: 30px;
        font-weight: 700;

        margin-bottom: 20px;

        text-shadow: 0 0 16px rgba(0, 43, 92, .18);
    }
    .__v2 & {
        font-size: 24px;
        line-height: 36px;

        margin-bottom: 40px;

        letter-spacing: .06em;

        color: #fff;
    }
    .__v3 & {
        font-size: 24px;

        margin-top: -12px;
        margin-bottom: 24px;
        padding: 0 101px;

        text-align: center;
        letter-spacing: .06em;
    }
}

.cta-form_form {
    margin-bottom: 20px;
}

.cta-form_it,
.cta-form_select {
    margin-right: 15px;
    margin-left: -.25em;
    width: 210px;
    .__v3 & {
        width: 260px;
    }
}

.cta-form_it {
    position: relative;
}

.cta-form_select {
    width: 220px;
}

.cta-form_btn {
    width: 250px;
    height: 44px;
    .__v3 & {
        width: 340px;
    }
}

.cta-form_hint {
    display: block;
    .__v1 & {
        font-family: $f2;
        font-size: 15px;

        letter-spacing: .02em;
    }
    .__v2 & {
        font-size: 24px;

        margin-top: 40px;
    }
    .__v3 & {
        font-family: $f2;
        font-size: 13px;

        margin-top: 27px;
    }
}

.cta-form_share {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 35px;
    letter-spacing: .1em;
}

.cta-form_share_social {
    margin-left: 1em;
    margin-top: -4px;
    @include inline-block(middle);
}

@include scrn_l {
    .cta-form_btn {
        .__v2 & {
            width: 230px;
        }
    }
    .cta-form_it,
    .cta-form_select {
        .__v2 & {
            width: 200px;
        }
    }
}

@include scrn_m {
    .cta-form {
        &.__v3 {
            width: auto;
            height: auto;

            background: none;
        }
    }
    .cta-form_t {
        .__v2 & {
            font-size: 20px;
            line-height: 32px;

            margin-bottom: 30px;
        }
        .__v3 & {
            font-size: 20px;

            padding-left: 0;

            text-align: center;
        }
    }
    .cta-form_btn {
        .__v3 & {
            width: 290px;
        }
    }
    .cta-form_it {
        .__v2 & {
            width: 170px;
        }
        .__v3 & {
            width: 200px;
        }
    }
    .cta-form_select {
        .__v2 & {
            width: 170px;
        }
    }
    .cta-form_btn {
        .__v2 & {
            width: 130px;
            padding-right: 0;
            padding-left: 0;
        }
    }
    .cta-form_hint {
        .__v2 & {
            font-size: 20px;
            line-height: 1;

            margin-top: 30px;
        }
    }
}

@include scrn_s {
    .cta-form_t {
        .__v1 & {
            font-size: 20px;
            line-height: 26px;

            margin-bottom: 10px;
        }
        .__v2 & {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
        .__v3 & {
            font-size: 14px;
            line-height: 23px;

            margin-bottom: 10px;
        }
    }
    .cta-form_form {
        margin-bottom: 8px;
    }
    .cta-form_it {
        display: block !important;

        width: 100% !important;
        margin-bottom: 14px;
        margin-left: 0;
        .__v1 & {
            color: #fff;
            border: 1.5px solid white;
            background-color: transparent;

            @include input-placeholder {
                color: #fff;
            }
        }
        .__v3 & {
        }
    }
    .cta-form_select {
        .__v2 & {
            width: 100%;
            display: block;
            margin-left: 0;
            margin-bottom: 14px;
        }
    }
    .cta-form_btn {
        display: block;

        width: 100% !important;
        margin: 0 !important;
    }
    .cta-form_hint {
        .__v1 & {
            font-size: 13px;
        }
        .__v2 & {
            font-size: 14px;
            line-height: 28px;
            margin-top: 26px;
        }
        .__v3 & {
            font-size: 13px;
            line-height: 18px;

            margin-top: 10px;
        }
    }
    .cta-form_share {
        font-size: 12px;
    }
}
/*-----------------------------------------------------------------------------
    /cta-form
-----------------------------------------------------------------------------*/
