/*-----------------------------------------------------------------------------
    faq
-----------------------------------------------------------------------------*/
.faq {
    background-color: #eceefa;
}

.faq_h {
    margin-bottom: 66px;
}

.faq_list {
    margin-bottom: -55px;
}

.faq_i {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;

    position: relative;

    margin-bottom: 55px;
    padding-left: 43px;

    color: #73789e;
    &:hover {
        &:before {
            transform: scale(1.15);
        }
    }
    &:before {
        font-size: 25px;
        font-weight: 700;

        position: absolute;
        top: -4px;
        left: 0;

        padding: 7px;

        content: '?';
        transition: all .35s;

        color: #fff;
        background-color: #ff1f65;
    }
}

.faq_q {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    display: block;

    margin-bottom: 16px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #2b37a5;
}

@include scrn_m {
    .faq {
        .container {
            width: 720px;
        }
    }
    .faq_i {
        font-size: 15px;
        line-height: 21px;
    }
    .faq_q {
        font-size: 14px;
        line-height: 24px;
    }
}

@include scrn_s {
    .faq {
        padding-bottom: 50px;
        .container {
            width: 280px;
        }
    }
    .faq_h {
        margin-bottom: 35px;
    }
    .faq_list {
        margin-bottom: -35px;
    }
    .faq_i {
        font-size: 12px;
        line-height: 19px;

        margin-bottom: 35px;
        padding-left: 0;

        text-align: center;
        &:before {
            position: relative;

            display: block;

            width: 14px;
            margin: auto;
            margin-bottom: 10px;

            text-align: center;
        }
    }
    .faq_q {
        font-size: 11px;
        line-height: 21px;

        margin-bottom: 10px;
    }
}
/*-----------------------------------------------------------------------------
    /faq
-----------------------------------------------------------------------------*/
