/*-----------------------------------------------------------------------------
    footer
-----------------------------------------------------------------------------*/
.footer {
    font-size: 13px;

    padding: 45px 0;

    @include pie-clearfix;
}

.footer_i {
    line-height: 1.33;

    float: left;

    margin-right: 32px;
    &.__i-1 {
        width: 190px;
    }
    &.__right {
        float: right;

        width: 170px;
        margin-right: 0;

        text-align: right;
    }
}

.footer_lk {
    font-size: 12px;
    font-weight: 700;

    text-decoration: underline;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #2b37a5;
    &:hover {
        text-decoration: none;
    }
    &.__phone {
        text-decoration: none;
        letter-spacing: .04em;

        color: #000;
    }
    &.__developer {
        font-size: 13px;
        font-weight: 400;

        text-decoration: none;
        letter-spacing: .02em;
        text-transform: none;

        color: #73789e;
    }
}

@include scrn_l {
    .footer_i {
        margin-right: 55px;
        &.__i-4 {
            float: right;

            margin-right: 0;
        }
        &.__right {
            display: block;
            float: none;

            width: 100%;
            padding-top: 50px;

            text-align: center;
            &:before {
                display: table;
                clear: both;

                content: '';
            }
        }
    }
}

@include scrn_m {
    .footer {
        font-size: 12px;

        padding: 24px 0;
    }
    .footer_i {
        margin-right: 35px;
        &.__i-1 {
            width: 90px;
        }
        &.__right {
            padding-top: 35px;
        }
    }
}

@include scrn_s {
    .footer {
        font-size: 12px;

        padding: 40px 0 20px;

        text-align: center;
    }
    .footer_i {
        display: block;
        float: none !important;

        width: auto !important;
        margin: 0 auto 20px !important;
        &.__right {
            padding-top: 0;
        }
    }
}
/*-----------------------------------------------------------------------------
    /footer
-----------------------------------------------------------------------------*/
