/*-----------------------------------------------------------------------------
    founder
-----------------------------------------------------------------------------*/
.founder {
    padding-bottom: 0;
}

.founder_h {
    margin-bottom: 32px;
}

.founder_box {
    min-height: image-height('founder.png');
    margin-left: 100px;

    background: image-url('founder.png') 0 0 no-repeat;
}

.founder_cnt {
    position: relative;

    padding: 133px 25px 0 429px;
}

.founder_tx {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 30px;

    color: #73789e;
    p {
        margin-bottom: .9em;
    }
}

.founder_tx_h {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;

    display: block;

    margin-bottom: 25px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #2b37a5;
}

.founder_social {
}

.founder_btn {
    font-size: 14px;

    margin-top: 35px;
}

.founder_sign {
    position: absolute;
    bottom: 40px;
    left: 690px;

    @include get-sprite($icons, 'sign');
}

@include scrn_l {
    .founder_box {
        margin-left: 10px;
    }
    .founder_cnt {
        padding-right: 10px;
    }
    .founder_sign {
        left: 650px;
    }
}

@include scrn_m {
    .founder_h {
        margin-bottom: 25px;
    }
    .founder_box {
        min-height: image-height('founder_m.png');

        background-image: image-url('founder_m.png');
    }
    .founder_cnt {
        padding: 80px 10px 0 354px;
    }
    .founder_tx {
        font-size: 12px;
        line-height: 20px;
    }
    .founder_sign {
        bottom: 35px;
        left: 551px;
    }
    .founder_btn {
        margin-top: 40px;
    }
}

@include scrn_s {
    .founder {
        .container {
            width: 280px;
        }
    }
    .founder_h {
        margin-bottom: 35px;
    }
    .founder_box {
        min-height: auto;
        padding-bottom: image-height('founder_s.png') + 25px;

        background-image: image-url('founder_s.png');
        background-position: 50% 100%;
    }
    .founder_cnt {
        position: relative;

        padding: 0;
    }
    .founder_tx {
        font-size: 14px;
        line-height: 24px;
    }
    .founder_tx_h {
        font-size: 20px;
        line-height: 32px;
    }
    .founder_sign {
        right: 0;
        bottom: 60px;
        left: auto;

        @include get-sprite($icons, 'sign_s');
    }
    .founder_btn {
        font-size: 13px;

        position: relative;
        z-index: 3;

        display: block;

        width: auto;
        margin: 50px auto 0;

        text-align: center;
    }
}
/*-----------------------------------------------------------------------------
    /founder
-----------------------------------------------------------------------------*/
