/*-----------------------------------------------------------------------------
    header
-----------------------------------------------------------------------------*/
.header {
    padding-top: 45px;

    color: #fff;
    height: 66px;

    @include pie-clearfix;
}

.header_i {
    margin-right: 50px;
    margin-left: -.25em;

    @include inline-block(middle);
    &.__left {
        margin-right: 140px;
    }
    &.__mrn {
        margin-right: 0;
    }
    &.__i-3 {
        margin-top: 8px;
    }
    &.__right {
        float: right;

        margin-top: 23px;
        margin-right: 0;
    }
}

@include scrn_l {
    .header_i {
        margin-right: 40px;
        &.__left {
            margin-right: 60px;
        }
    }
}

@include scrn_m {
    .header {
        .container {
            position: relative;

            width: 720px;
        }
    }
    .header_i {
        &.__i-1 {
        }
        &.__i-2 {
            position: absolute;
            top: 5px;
            left: 230px;
        }
        &.__i-3 {
            position: absolute;
            top: 5px;
            left: 295px;
        }
        &.__i-4 {
            position: absolute;
            top: 13px;
            right: 52px;
        }
        &.__i-5 {
            width: 400px;
            margin-top: 5px;
            .__opened & {
                width: 450px;
            }
        }
    }
    .header_btn {
        font-size: 11px;
    }
}

@include scrn_s {
    .header {
        padding-top: 45px;
        .container {
            width: 280px;
        }
    }
    .header_i {
        &.__i-1 {
            .__opened & {
                top: -10px;
                position: relative;
            }
        }
        &.__i-2,
        &.__i-3,
        &.__i-4 {
            display: none !important;
        }
        &.__i-5 {
            display: block;
            float: none;

            width: auto !important;
        }
    }
}
/*-----------------------------------------------------------------------------
    /header
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    logo
-----------------------------------------------------------------------------*/
.logo {
    display: block;

    @include img-size('logo.png');
    @include img-bg('logo.png');
    .__opened & {
        @include img-size('logo-opened.png');
        @include img-bg('logo-opened.png');
    }
}

@include scrn_m {
    .logo {
        @include img-size('logo-m.png');
        @include img-bg('logo-m.png');
    }
}

@include scrn_s {
    .logo {
        @include img-size('logo-s.png');
        @include img-bg('logo-s.png');
    }
}
/*-----------------------------------------------------------------------------
    /logo
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    addr
-----------------------------------------------------------------------------*/
.addr {
    font-family: $f2;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    text-shadow: 0 2px 2px rgba(0, 0, 0, .36);
    &:before {
        margin-right: 14px;

        content: '';
        transition: all .5s;

        @include inline-block(middle);
    }
    &:hover:before {
        transform: translateY(-5px);
    }
    &.__addr:before {
        @include get-sprite($icons, 'addr');
    }
    &.__phone {
        text-decoration: none;
        letter-spacing: .1em;

        color: inherit;
        &:before {
            @include get-sprite($icons, 'phone');
        }
    }
}

@include scrn_l {
    .addr {
        font-size: 16px;
    }
}

@include scrn_m {
}
/*-----------------------------------------------------------------------------
    /addr
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    phone
-----------------------------------------------------------------------------*/
.phone {
    font-size: 14px;

    text-align: right;

    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .36);
}

.phone_lk {
    font-size: 21px;
    font-weight: 700;

    display: block;

    margin-bottom: 5px;
    padding: 5px 5px;

    text-decoration: none;
    letter-spacing: .1em;

    color: #2b37a5;
    background-color: #fff;
    text-shadow: none;
}

.phone_hint {
    display: block;
}

@include scrn_m {
    .phone {
        font-size: 13px;
    }
    .phone_lk {
        font-size: 16px;
        padding: 3px;
        margin-bottom: 3px;
    }
}
/*-----------------------------------------------------------------------------
    /phone
-----------------------------------------------------------------------------*/
