/*-----------------------------------------------------------------------------
    loader
-----------------------------------------------------------------------------*/
.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    background: #2b37a5 image-url('loader.svg') 50% 50% no-repeat;
}

@include scrn_l {
    .loader {
        display: none;
    }
}
/*-----------------------------------------------------------------------------
    /loader
-----------------------------------------------------------------------------*/
