/*-----------------------------------------------------------------------------
    map
-----------------------------------------------------------------------------*/
.map {
    width: 100%;
    height: 569px;
}

#map {
    width: 100%;
    height: 100%;
}

@include scrn_l {
    .map {
        height: 440px;
    }
}
/*-----------------------------------------------------------------------------
    /map
-----------------------------------------------------------------------------*/