/*-----------------------------------------------------------------------------
    Modals
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    modal
-----------------------------------------------------------------------------*/
.modal {
    display: none;
}

.modal_cnt {
    padding: 65px 71px;
}

.modal_h {
    font-size: 32px;
    font-weight: 600;

    display: block;

    color: #2b37a5;
    &:after {
        display: block;

        width: 80px;
        height: 3px;
        margin: 20px 0;

        content: '';

        background-color: #ff1f65;
    }
    &.__v1 {
        font-size: 27px;
    }
}

.modal_it {
    display: inline-block !important;

    width: 260px !important;
    height: 46px !important;
    margin-right: 15px;
    margin-bottom: 0 !important;
    margin-left: -.25em;

    vertical-align: middle !important;

    @extend .call_it;
}

.modal_btn {
    width: 240px !important;
    height: 46px !important;
    margin-left: -.25em;
}

.more_form_it {
}

@include scrn_l {
    .modal_it {
        width: 250px !important;
    }
    .modal_btn {
        width: 220px !important;
    }
}

@include scrn_m {
    .modal_cnt {
        padding: 45px 50px;
    }
    .modal_it {
        width: 200px !important;
        margin-right: 15px;
    }
    .modal_btn {
        width: 190px !important;
    }
}

@include scrn_s {
    .modal_h {
        font-size: 25px;
        &:after {
            margin: 17px auto;
        }
        &.__v1 {
            font-size: 18px;
        }
    }
    .modal_cnt {
        padding: 35px 30px;
    }
    .modal_it {
        display: block;

        width: 100% !important;
        margin-right: auto;
        margin-bottom: 20px !important;
    }
    .modal_btn {
        width: 100% !important;
    }
}
/*-----------------------------------------------------------------------------
    /modal
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    call
-----------------------------------------------------------------------------*/
.call {
    background-color: #fafafa;
}

.call_cnt {
    box-sizing: border-box;
    width: 340px;
    padding: 43px 41px 35px;

    text-align: center;
}

.call_h {
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;

    display: block;

    margin-bottom: 23px;

    letter-spacing: .07em;
    text-transform: uppercase;

    color: #261e1f;
}

.call_form {
}

.call_it {
    display: block;

    width: 100%;
    margin-bottom: 18px;

    background-color: #e4e8fa;
}

.call_ta {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.call_btn {
    display: block;

    width: 100%;
}

.call_hint {
    font-family: $f2;
    font-size: 12px;
    line-height: 14px;

    display: block;

    margin-top: 18px;

    color: #2b37a5;
}

@include scrn_s {
    .call_cnt {
        width: 300px;
        padding: 30px;
    }
    .call_it, .call_ta {
        margin-bottom: 14px;
    }
}
/*-----------------------------------------------------------------------------
    /call
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    order
-----------------------------------------------------------------------------*/
.calendar {
    background-color: #fff;
}

.calendar_cnt {
    position: relative;

    width: 660px;
}

.calendar_head {
    padding: 28px 36px 28px 30px;

    @include pie-clearfix;
}

.calendar_head_month {
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;

    float: left;
}

.calendar_head_hint {
    font-size: 16px;

    float: right;

    text-transform: uppercase;

    color: #2b37a5;
}

.calendar_head_hint_num {
    font-size: 24px;
    font-weight: 700;

    color: #ff1f65;
}

.calendar_calendar {
    width: 100%;

    border-collapse: collapse;
    thead {
        background-color: #e4e8fa;
        td {
            font-size: 16px;

            padding: 20px 0;

            text-align: center;
            text-transform: uppercase;

            border: 1px solid #e4e8fa;
        }
    }
    tbody {
        td {
            position: relative;

            box-sizing: border-box;
            width: 94px;
            height: 78px;
            padding: 14px 13px 0 15px;

            vertical-align: top;

            border: 1px solid #dbdeed;
        }
    }
}

.calendar_calendar_day {
    font-size: 24px;

    display: block;

    margin-bottom: 7px;

    color: #2b37a5;
    .__disabled & {
        color: #9a9fc2;
    }
    .__full & {
        margin-bottom: 14px;

        color: #ff1f65;
    }
}

.calendar_calendar_full {
    font-size: 11px;
    font-weight: 600;
    line-height: 1;

    display: block;

    text-transform: uppercase;

    color: #ff1f65;
}

.calendar_calendar_checkbox {
    display: block;
    float: right;
}

.calendar_btn {
    position: absolute;
    bottom: -15px - 44px;
    left: 50%;

    width: 200px;
    margin-left: -100px;
}

@include scrn_s {
    .calendar_cnt {
        width: 300px;

        background-color: #e0e1fc;
    }
    .calendar_head {
        padding: 24px 0;
    }
    .calendar_head_month,
    .calendar_head_hint {
        display: block;
        float: none;

        text-align: center;
    }
    .calendar_head_month {
    }
    .calendar_head_hint {
        font-size: 13px;
    }
    .calendar_head_hint_num {
        font-size: 20px;
    }
    .calendar_calendar {
        thead {
            background-color: #c7cff3;
            td {
                font-size: 15px;

                border: none;
            }
        }
        tbody {
            td {
                width: auto;
                height: 40px;
                padding: 0;

                text-align: center;
                vertical-align: middle;

                border: none;
                &.__checked {
                    &:after {
                        position: absolute;
                        z-index: 0;
                        top: 50%;
                        left: 50%;

                        margin-top: -(get-sprite-height($icons, 'check_s') / 2) - 1.5px;
                        margin-left: -(get-sprite-width($icons, 'check_s') / 2);

                        content: '';

                        @include get-sprite($icons, 'check_s');
                    }
                }
            }
        }
    }
    .calendar_calendar_day {
        font-size: 15px;

        position: relative;
        z-index: 1;

        margin-bottom: auto;
        .__full & {
            margin-bottom: auto;
        }
        .__checked & {
            color: #fff;
        }
    }
    .calendar_calendar_full {
        display: none;
    }
    .calendar_calendar_checkbox {
        position: absolute !important;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border: none;
        .jq-checkbox__div {
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: none;
        }
    }
    .calendar_btn {
        width: 300px;
        margin-left: -(300px / 2);
    }
}
/*-----------------------------------------------------------------------------
    /order
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    policy
-----------------------------------------------------------------------------*/
.policy {
    background-color: #fafafa;
}

.policy_cnt {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;

    box-sizing: border-box;
    width: 960px;
    padding: 70px;

    color: #73789e;
    p {
        margin-bottom: 1em;
    }
}

.policy_h {
    font-size: 32px;
    font-weight: 700;

    display: block;

    color: #2b37a5;
    &:after {
        display: block;

        width: 80px;
        height: 3px;
        margin: 25px 0;

        content: '';

        background-color: #ff1f65;
    }
}

@include scrn_m {
    .policy_cnt {
        width: 720px;
        padding: 50px;
    }
}

@include scrn_s {
    .policy_cnt {
        font-size: 12px;
        line-height: 16px;

        width: 300px;
        padding: 30px 15px;
    }
    .policy_h {
        font-size: 18px;
        &:after {
            margin: 15px 0;
        }
    }
}
/*-----------------------------------------------------------------------------
    /policy
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    thanks
-----------------------------------------------------------------------------*/
.thanks {
    background-color: #fafafa;
}

.thanks_cnt {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;

    box-sizing: border-box;
    width: 780px;
    padding: 70px;

    letter-spacing: .025em;

    color: #73789e;

    &.__v2 {
        width: 400px;
        padding: 25px;

        @include scrn_s {
            width: 280px;
        }

        a {
            color: #2b37a5;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.thanks_offer {
    display: block;

    margin-bottom: .75em;

    color: #2b37a5;
}

.thanks_promocode {
    margin-left: .25em;
    padding: 3px;

    color: #fff;
    background-color: #ff1f65;
}

.thanks_places {
    margin-top: 35px;

    @include pie-clearfix;
}

.thanks_places_i {
    float: left;

    margin-right: 11px;

    @include get-sprite($icons, 'place');
    &.__busy {
        @include get-sprite($icons, 'place-busy');
    }
    &.__last {
        margin-right: 0;
    }
}

.thanks_places-hint {
    display: block;

    margin-top: 10px;

    color: #2b37a5;
}

.thanks_share {
    font-weight: 700;
    font-style: normal;
    font-size: 15px;

    margin-top: 30px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #2b37a5;
}

.thanks_share_social {
    margin-top: -4px;
    margin-left: 1em;

    @include inline-block(middle);
}

@include scrn_m {
    .thanks_cnt {
        width: 720px;
        padding: 50px;
    }
}

@include scrn_s {
    .thanks_cnt {
        font-size: 13px;
        font-style: italic;
        line-height: 20px;

        width: 300px;
        padding: 30px 20px;

        text-align: center;
    }
    .thanks_offer {
        font-size: 13px;
        line-height: 20px;
    }
    .thanks_places {
        margin-top: 20px;
    }
    .thanks_places_i {
        margin-right: 5px;

        @include get-sprite($icons, 'place_s');
        &.__busy {
            @include get-sprite($icons, 'place-busy_s');
        }
    }
    .thanks_share {
        margin-top: 20px;
    }
}
/*-----------------------------------------------------------------------------
    /thanks
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    registration
-----------------------------------------------------------------------------*/
.registration {
    .__nm {
        margin-bottom: 0;
    }
}

.registration_cnt {
    box-sizing: border-box;
    width: 360px;
    padding: 35px 40px;

    color: #2b37a5;
}

.registration_h {
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;

    display: block;

    margin-bottom: 15px;

    text-align: center;
    text-transform: uppercase;

    color: #261e1f;
}

.registration_form {
}

.registration_form_select,
.registration_form_it {
    display: block;

    width: 100%;
    margin-bottom: 18px;

    background-color: #e4e8fa;
}

.registration_form_select {
}

.registration_form_it {
}

.registration_form_radio {
    margin-right: 10px;
}

.registration_form_btn {
    display: block;

    width: 100%;
    margin-bottom: 18px;
}

.registration_form_hint {
    font-family: $f2;
    font-size: 12px;
    line-height: 14px;

    display: block;

    text-align: center;

    color: #2b37a5;
}

.registration_form_sum {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    display: block;

    margin: 20px 0;

    text-align: center;
    text-align: center;
    text-transform: uppercase;

    color: #2b37a5;
}

.registration_shedule {
}

.registration_shedule_trigger {
    font-size: 13px;
    font-weight: 400;
    line-height: 6px;
    line-height: 1;

    position: relative;

    display: block;

    margin: 20px 0;

    cursor: pointer;
    text-align: center;
    &:hover {
        &:after {
            display: none;
        }
    }
    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 138px;
        height: 1px;
        margin-left: -(138px / 2);

        content: '';

        border-bottom: 1px dotted #2b37a5;
    }
}

.registration_shedule_list {
    display: none;

    opacity: 0;
    .__opened & {
        display: block;

        opacity: 1;
    }
}

.registration_shedule_i {
    margin-bottom: 25px;
}

.registration_shedule_h {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;

    display: block;

    margin-bottom: 12px;

    letter-spacing: .07em;
    text-transform: uppercase;
}

.registration_shedule_l {
    font-size: 13px;

    margin-right: 20px;

    letter-spacing: .06em;

    @include inline-block(middle);
}

@include scrn_s {
    .registration_cnt {
        width: 300px;
        padding: 30px;
    }
    .registration_h {
        font-size: 20px;
        line-height: 1.2;

        margin-bottom: 20px;
    }
    .registration_form_radio {
        margin-right: 8px;
    }
    .registration_shedule_i {
        font-size: 13px;
    }
    .registration_shedule_h {
        font-size: 14px;
    }
    .registration_shedule_l {
        margin-right: 15px;
    }
}
/*-----------------------------------------------------------------------------
    /registration
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    more
-----------------------------------------------------------------------------*/
.more {
}

.more_h {
    font-weight: 700;
}

.more_cnt {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;

    width: 820px;

    color: #73789e;
    p {
        margin-bottom: 1em;
    }
}

.more_form {
    margin-top: 40px;
}

@include scrn_l {
    .more_cnt {
        width: 750px;
    }
}

@include scrn_m {
    .more_cnt {
        width: 620px;
    }
    .more_form {
        margin-top: 30px;
    }
}

@include scrn_s {
    .more_cnt {
        font-size: 13px;
        line-height: 21px;

        width: 230px;
    }
}
/*-----------------------------------------------------------------------------
    /more
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    /Modals
-----------------------------------------------------------------------------*/
