/*-----------------------------------------------------------------------------
    offer
-----------------------------------------------------------------------------*/
.offer {
    padding-top: 110px;

    text-align: center;

    color: #fff;
}

.offer_t {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;

    margin-bottom: 100px;

    color: white;
    text-shadow: 0 0 16px rgba(0, 43, 92, .18);
}

@include scrn_m {
    .offer {
        padding-top: 100px;
    }
    .offer_t {
        font-size: 32px;

        margin-bottom: 90px;
    }
}

@include scrn_s {
    .offer {
        padding-top: 45px;
        .container {
            width: 280px;
        }
    }
    .offer_t {
        font-size: 20px;
        line-height: 28px;

        margin-bottom: 50px;
        .__opened & {
            display: none;
        }
    }
    .offer_cta {
        .__opened & {
            display: none;
        }
    }
}
/*-----------------------------------------------------------------------------
    /offer
-----------------------------------------------------------------------------*/
