/*-----------------------------------------------------------------------------
    price
-----------------------------------------------------------------------------*/
.price {
    color: #fff;
    background: #2c38a8 image-url('bg-shedule.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.price_h {
    margin-bottom: 95px;
}

.price_cta {
    margin-bottom: 100px;
}

.price_cnt {
    width: 960px;
    height: 424px;
    margin: 0 auto 34px;

    box-shadow: 0 7px 36px rgba(0, 7, 104, .34);

    @include pie-clearfix;
}

.price_i {
    float: left;

    width: 240px;
}

.price_hint {
    font-size: 14px;

    display: block;

    text-align: center;
    letter-spacing: .01em;
}

@include scrn_l {
    .price {
        background-image: image-url('bg-shedule_l.jpg');
    }
    .price_cnt {
        width: auto;
    }
}

@include scrn_m {
    .price {
        background-image: image-url('bg-shedule_m.jpg');
        .container {
            width: 720px;
        }
    }
    .price_cnt {
        height: 318px;
    }
    .price_i {
        width: 180px;
    }
}

@include scrn_s {
    .price {
        background-image: image-url('bg-shedule_s.jpg');
        .container {
            width: 280px;
        }
    }
    .price_cnt {
        height: auto;
        margin-bottom: 20px;
    }
    .price_h {
        margin-bottom: 42px;
    }
    .price_cta {
        margin-bottom: 40px;
    }
    .price_i {
        float: none;

        width: 100%;
    }
    .price_hint {
        font-size: 13px;
        line-height: 20px;
    }
}
/*-----------------------------------------------------------------------------
    /price
-----------------------------------------------------------------------------*/
