/*-----------------------------------------------------------------------------
    price-card
-----------------------------------------------------------------------------*/
.price-card {
    position: relative;

    box-sizing: border-box;
    height: 424px;
    padding: 60px 0 32px;

    transition: all .35s;
    text-align: center;

    color: #2b37a5;
    background-color: #eeeff8;
    &:hover {
        height: 444px;
        margin-top: -((444px - 424px) / 2);

        transform: scaleX(1.0075);

        background-color: #fff;
        box-shadow: 0 10px 26px rgba(0, 7, 104, .1);
        .price-card_btn {
            bottom: 42px;
        }
        &:after {
            opacity: 0;
        }
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 0;

        width: 1px;
        height: 364px;
        margin-top: -(364px / 2);

        content: '';
        transition: all .35s;

        @include rgba-background(rgba(#3f5ab6, .4));
    }
    &.__last {
        &:after {
            display: none;
        }
    }
}

.price-card_l {
    font-size: 11px;
    font-weight: 900;
    line-height: get-sprite-height($icons, 'price-label-1');

    position: absolute;
    top: 16px;
    left: -1px;

    height: get-sprite-height($icons, 'price-label-1');
    padding: 0 (22px - get-sprite-width($icons, 'price-label-1')) 0 20px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #eeeff8;
    .__l1 & {
        background-color: #ff0050;
    }
    .__l2 & {
        background-color: #3240bd;
    }
    &:after {
        position: absolute;
        top: 0;
        right: -(get-sprite-width($icons, 'price-label-1'));

        display: block;

        content: '';
        .__l1 & {
            @include get-sprite($icons, 'price-label-1');
        }
        .__l2 & {
            @include get-sprite($icons, 'price-label-2');
        }
    }
}

.price-card_h {
    font-size: 16px;
    font-weight: 900;
    line-height: 1;

    display: block;

    margin-bottom: 25px;

    letter-spacing: .1em;
    text-transform: uppercase;
    .__no-discount & {
        margin-bottom: 40px;
    }
}

.price-card_num {
    display: block;

    margin-bottom: 35px;

    letter-spacing: .08em;
    text-transform: uppercase;
    .__no-discount & {
        margin-bottom: 50px;
    }
}

.price-card_num_num {
    font-size: 62px;
    font-weight: 300;
    line-height: 1;

    display: block;

    margin-bottom: 5px;
}

.price-card_price {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

    display: block;

    margin-bottom: 25px;
    .__no-discount & {
        font-size: 24px;
    }
}

.price-card_discount {
    font-size: 12px;
    line-height: 18px;

    display: block;

    width: 90%;
    margin: auto;
}

.price-card_discount_num {
    font-weight: 900;
    line-height: 1;

    margin-right: .25em;
    padding: 5px;

    color: #fff;
    background-color: #ff1f65;

    @include inline-block(middle);
}

.price-card_btn {
    line-height: 46px;

    position: absolute;
    bottom: 32px;
    left: 50%;

    box-sizing: border-box;
    width: 191px;
    height: 46px;
    margin-left: -(191px / 2);
    padding: 0;
    padding-right: 0;
    padding-left: 0;

    transition: all .35s;
    text-align: center;
    .__btn1 & {
        background-color: #559700;
        &:hover {
            background-color: shade(#559700, 10);
        }
        &:active {
            background-color: tint(#559700, 10);
        }
    }
    .__btn2 & {
        font-size: 11px;
    }
    .__btn3 & {
        font-size: 14px;
    }
}

@include scrn_m {
    .price-card {
        height: 338px;
        padding: 60px 0 30px;
        &:hover {
            height: 338px * 1.05;
            margin-top: -((318px * .05) / 2);
            .price-card_btn {
                bottom: 34px;
            }
        }
        &:after {
            height: 273px;
            margin-top: -(273px / 2);
        }
    }
    .price-card_h {
        font-size: 13px;

        margin-bottom: 22px;
        .__no-discount & {
            margin-bottom: 30px;
        }
    }
    .price-card_num {
        font-size: 13px;

        margin-bottom: 22px;
        .__no-discount & {
            margin-bottom: 25px;
        }
    }
    .price-card_num_num {
        font-size: 46px;
    }
    .price-card_price {
        font-size: 24px;

        margin-bottom: 25px;
        .__no-discount & {
            font-size: 18px;
        }
    }
    .price-card_discount {
        font-size: 10px;
        line-height: 14px;

        width: auto;
    }
    .price-card_btn {
        bottom: 23px;
        width: 152px;
        margin-left: -(152px / 2);
        height: 35px;
        line-height: 35px;
        .__btn2 & {
            font-size: 9px;
        }
        .__btn3 & {
            font-size: 12px;
        }
    }
}

@include scrn_s {
    .price-card {
        height: auto;
        padding: 60px 0 100px;
        &:hover {
            height: auto;
            margin-top: 0;

            transform: scale(1.05, 1.0075);
            .price-card_btn {
                bottom: 30px;
            }
        }
        &:after {
            top: auto;
            bottom: 0;
            left: 50%;

            width: 220px;
            height: 1px;
            margin-left: -(220px / 2);
        }
    }
    .price-card_h {
        font-size: 20px;
        font-weight: 900;

        margin-bottom: 41px;
        .__no-discount & {
            margin-bottom: 41px;
        }
    }
    .price-card_num {
        font-size: 18px;

        margin-bottom: 45px;
        .__no-discount & {
            margin-bottom: 45px;
        }
    }
    .price-card_num_num {
        font-size: 62px;
    }
    .price-card_price {
        font-size: 36px;
    }
    .price-card_discount {
        width: 80%;
    }
    .price-card_btn {
        bottom: 30px;
        width: 220px;
        margin-left: -(220px / 2);
        height: 46px;
        line-height: 46px;
        .__btn2 & {
            font-size: 13px;
        }
        .__btn3 & {
            font-size: 14px;
        }
    }
}
/*-----------------------------------------------------------------------------
    /price-card
-----------------------------------------------------------------------------*/
