/*-----------------------------------------------------------------------------
    shedule
-----------------------------------------------------------------------------*/
.shedule {
    color: #fff;
    background: #2c38a8 image-url('bg-shedule.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.shedule_h {
    margin-bottom: 100px;
}

.shedule_cnt {
    width: 960px;
    margin: auto;
}

.shedule_shedule {
    margin-bottom: 70px;

    text-align: center;
    letter-spacing: .1em;
}

.shedule_shedule_days {
    font-size: 24px;

    display: block;

    margin-bottom: 42px;

    text-transform: uppercase;
}

.shedule_shedule_time {
    font-size: 46px;
    font-weight: 300;
    line-height: 60px;

    display: block;

    text-transform: uppercase;
}

.shedule_shedule_like {
    font-size: 9px;
    font-weight: 700;
    line-height: 28px;

    display: block;

    margin: 5px auto 35px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    &.__v1 {
        @include get-sprite($icons, 'shedule-like-bg-1');
    }
    &.__v2 {
        @include get-sprite($icons, 'shedule-like-bg-2');
    }
}

.shedule_phone {
    text-decoration: none;

    color: inherit;
}

@include scrn_l {
    .shedule {
        background-image: image-url('bg-shedule_l.jpg');
    }
}

@include scrn_m {
    .shedule {
        background-image: image-url('bg-shedule_m.jpg');
        .container {
            width: 720px;
        }
    }
    .shedule_cnt {
        width: auto;
    }
}

@include scrn_s {
    .shedule {
        background-image: image-url('bg-shedule_s.jpg');
        .container {
            width: 280px;
        }
    }
    .shedule_h {
        margin-bottom: 50px;
    }
    .shedule_shedule {
        margin-bottom: 50px;
    }
    .shedule_shedule_days {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
    }
    .shedule_shedule_time {
        font-size: 36px;
        line-height: 54px;
    }
    .shedule_shedule_like {
        margin: 3px auto 15px;
    }
}
/*-----------------------------------------------------------------------------
    /shedule
-----------------------------------------------------------------------------*/
