/*-----------------------------------------------------------------------------
    social
-----------------------------------------------------------------------------*/
.social {
    @include pie-clearfix;
}

.social_i {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    @include inline-block(middle);
}

.social_lk {
    display: block;

    transition: all .35s;
    &:hover {
        transform: scale(1.15);
        .__v2 & {
            transform: scale(1.07);
        }
    }
    .__fb & {
        @include get-sprite($icons, 'fb-big');
        .__v2 & {
            @include get-sprite($icons, 'fb-small');
        }
        .__v3 & {
            @include get-sprite($icons, 'fb-white');
        }
    }
    .__insta & {
        @include get-sprite($icons, 'insta-big');
        .__v2 & {
            @include get-sprite($icons, 'insta-small');
        }
        .__v3 & {
            @include get-sprite($icons, 'insta-white');
        }
    }
    .__vk & {
        @include get-sprite($icons, 'vk-big');
        .__v2 & {
            @include get-sprite($icons, 'vk-small');
        }
        .__v3 & {
            @include get-sprite($icons, 'vk-white');
        }
    }
}

@include scrn_s {
    .social_i {
        margin-right: 10px;
    }
}
/*-----------------------------------------------------------------------------
    /social
-----------------------------------------------------------------------------*/
