/*-----------------------------------------------------------------------------
    trainer
-----------------------------------------------------------------------------*/
.trainer {
    background-color: #eceefa;
}

.trainer_h {
    margin-bottom: 52px;
}

.trainer_slider {
    position: relative;

    margin-bottom: -20px;
}

.trainer_slider_arrows {
    position: absolute;

    width: 100%;
    height: 100%;
}

.trainer_slider_arrow {
    position: absolute;
    top: 50%;

    margin-top: -(get-sprite-height($icons, 'arrow-blue-prev') / 2);

    cursor: pointer;
    transition: all .5s;
    &.__prev {
        left: -(get-sprite-width($icons, 'arrow-blue-prev'));

        @include get-sprite($icons, 'arrow-blue-prev');
        &:hover {
            transform: translateX(-10px);
        }
    }
    &.__next {
        right: -(get-sprite-width($icons, 'arrow-blue-next'));

        @include get-sprite($icons, 'arrow-blue-next');
        &:hover {
            transform: translateX(10px);
        }
    }
}

.trainer_slider_slides {
}

.trainer_slider_slide {
    outline: none;
}

@include scrn_l {
    .trainer {
        padding-top: 79px;
        padding-bottom: 75px;
    }
    .trainer_slider_arrow {
        z-index: 10;
        &.__prev {
            left: 0;
        }
        &.__next {
            right: 0;
        }
    }
}

@media (max-width: 1170px) {
    .trainer_slider_arrow {
        z-index: 10;
        &.__prev {
            left: 10px;
        }
        &.__next {
            right: 10px;
        }
    }
}

@include scrn_m {
    .trainer_slider_arrows {
        right: 170px;
        bottom: 24px;

        width: 120px;
        height: 20px;
    }
}

@include scrn_s {
    .trainer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .trainer_h {
        margin-bottom: 30px;
    }
    .trainer_slider_arrows {
        right: 0;
        bottom: 225px;

        width: 100%;
        height: 20px;
    }
}
/*-----------------------------------------------------------------------------
    /trainer
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    trainer-card
-----------------------------------------------------------------------------*/
.trainer-card {
    padding: 35px 50px 0 475px;
    &.__v1 {
        min-height: image-height('trainer-1.png');

        background: transparent image-url('trainer-1.png') 0 0 no-repeat;
    }
}

.trainer-card_tx {
    font-size: 18px;
    line-height: 28px;

    margin-bottom: 60px;

    color: #73789e;
    p {
        margin-bottom: 1em;
        &.__short {
            padding-right: 20px;
        }
    }
}

.trainer-card_certificates {
    margin-left: 37px;

    @include pie-clearfix;
}

.trainer-card_certificates_i {
    float: left;

    box-sizing: border-box;
    // width: 90px;
    // height: 130px;
    margin-right: 15px;

    transition: all .5s;

    border: 2px solid #fafafa;
    box-shadow: 0 2px 8px rgba(80, 83, 109, .16);
    &:hover {
        transform: translateY(-10px);

        box-shadow: 0 10px 10px 3px rgba(80, 83, 109, .16);
    }
}

.trainer-card_certificates_lk {
    display: block;
}

.trainer-card_certificates_img {
    display: block;

    width: 100%;
    height: auto;
}

@include scrn_l {
    .trainer-card {
        padding: 60px 50px 0 405px;
        &.__v1 {
            min-height: image-height('trainer-1_l.png');

            background-image: image-url('trainer-1_l.png');
        }
    }
    .trainer-card_tx {
        font-size: 16px;
        line-height: 28px;

        margin-bottom: 60px;
        p {
            margin-bottom: .75em;
            &.__short {
                padding-right: 0;
            }
        }
    }
    .trainer-card_certificates {
        margin-left: 60px;
    }
}

@include scrn_m {
    .trainer-card {
        padding: 10px 50px 0 340px;
        &.__v1 {
            min-height: image-height('trainer-1_m.png');

            background-image: image-url('trainer-1_m.png');
            background-position: 0 10px;
        }
    }
    .trainer-card_tx {
        font-size: 14px;
        line-height: 2;

        margin-top: -10px;
    }
    .trainer-card_certificates {
        margin-left: 0;
    }
    .trainer-card_certificates_i {
        // width: 76px;
        // height: 112px;
    }
}

@include scrn_s {
    .trainer-card {
        padding: 0;
        &.__v1 {
            padding-bottom: image-height('trainer-1_s.png') + 20px;

            background-image: image-url('trainer-1_s.png');
            background-position: 50% 100%;
        }
    }
    .trainer-card_certificates_i {
        margin: 0 5px;
        width: 90px;
        height: auto;
    }
    .trainer-card_tx {
        margin-top: 0;
    }
}
/*-----------------------------------------------------------------------------
    /trainer-card
-----------------------------------------------------------------------------*/
