/*-----------------------------------------------------------------------------
    video-bg
-----------------------------------------------------------------------------*/
.video-bg {
    position: relative;

    overflow: hidden;

    height: 678px;

    background: #000ba0 image-url('bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.video-bg_video {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.video-bg_shade {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    @include rgba-background(rgba(shade(#000ba0, 10), .32));
    &:after {
        position: absolute;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background: transparent image-url('video-bg-shade.png') 50% 60% no-repeat;
    }
}

.video-bg_wrapper {
    position: relative;
    z-index: 3;
}

@include scrn_l {
    .video-bg {
        background-image: image-url('bg_l.jpg');
    }
    .video-bg_video {
        display: none;
    }
}

@include scrn_m {
    .video-bg {
        background-image: image-url('bg_m.jpg');
    }
}

@include scrn_s {
    .video-bg {
        height: 616px;

        background-image: image-url('bg_s.jpg');
        background-position: 100% 50%;
    }
    .video-bg_shade {
        .__opened & {
            @include rgba-background(rgba(shade(#000ba0, 10), .7));
        }
    }
}
/*-----------------------------------------------------------------------------
    /video-bg
-----------------------------------------------------------------------------*/
