/*-----------------------------------------------------------------------------
    views
-----------------------------------------------------------------------------*/
.views {
}

.views_h {
    margin-bottom: 56px;
}

.views_subh {
}

.views_gallery {
    position: relative;

    height: image-height('views/1.jpg') + image-height('views/5.jpg') + 10px;
    margin-bottom: 70px;
}

.views_gallery_i {
    position: absolute;
    &.__i-1 {
        width: image-width('views/1.jpg');
        height: image-height('views/1.jpg');

        @include img-bg('views/1.jpg');
    }
    &.__i-2 {
        top: 0;
        right: 0;

        width: image-width('views/2.jpg');
        height: image-height('views/2.jpg');

        @include img-bg('views/2.jpg');
    }
    &.__i-3 {
        right: image-width('views/4.jpg') + 10px;
        bottom: image-height('views/6.jpg') + 10px;

        width: image-width('views/3.jpg');
        height: image-height('views/3.jpg');

        @include img-bg('views/3.jpg');
    }
    &.__i-4 {
        right: 0;
        bottom: 0;

        width: image-width('views/4.jpg');
        height: image-height('views/4.jpg');

        @include img-bg('views/4.jpg');
    }
    &.__i-5 {
        bottom: 0;
        left: 0;

        width: image-width('views/5.jpg');
        height: image-height('views/5.jpg');

        @include img-bg('views/5.jpg');
    }
    &.__i-6 {
        right: image-width('views/4.jpg') + 10px;
        bottom: 0;

        width: image-width('views/6.jpg');
        height: image-height('views/6.jpg');

        @include img-bg('views/6.jpg');
    }
}

.views_gallery_lk {
    display: block;

    width: 100%;
    height: 100%;
}

.views_advantages {
    margin-bottom: -18px;

    @include pie-clearfix;
}

.views_advantages_col {
    float: left;
    &.__v1 {
        width: 470px;
    }
    &.__v2 {
        width: 420px;
    }
    &.__v3 {
        float: right;
    }
}

.views_advantages_i {
    font-size: 20px;
    font-weight: 700;

    display: block;

    margin-bottom: 18px;

    text-transform: uppercase;

    color: #394abc;
    &:hover {
        &:before {
            transform: scale(1.2, 1.2);
        }
    }
    &:before {
        margin-right: 19px;

        content: '';
        transition: all .5s;

        @include inline-block(middle);
        @include get-sprite($icons, 'daw');
    }
    sub {
        text-transform: none;
    }
    sup {
        vertical-align: super;
        font-size: 10px;
        font-weight: 700;
    }
}

@include scrn_l {
    .views {
        padding-bottom: 75px;
    }
    .views_h {
        margin-bottom: 35px;
    }
    .views_gallery {
        height: image-height('views/1_l.jpg') + image-height('views/5_l.jpg') + 10px;
    }
    .views_gallery_i {
        &.__i-1 {
            width: image-width('views/1_l.jpg');
            height: image-height('views/1_l.jpg');

            @include img-bg('views/1_l.jpg');
        }
        &.__i-2 {
            top: 0;
            right: 0;

            width: image-width('views/2_l.jpg');
            height: image-height('views/2_l.jpg');

            @include img-bg('views/2_l.jpg');
        }
        &.__i-3 {
            right: image-width('views/4_l.jpg') + 10px;
            bottom: image-height('views/6_l.jpg') + 10px;

            width: image-width('views/3_l.jpg');
            height: image-height('views/3_l.jpg');

            @include img-bg('views/3_l.jpg');
        }
        &.__i-4 {
            right: 0;
            bottom: 0;

            width: image-width('views/4_l.jpg');
            height: image-height('views/4_l.jpg');

            @include img-bg('views/4_l.jpg');
        }
        &.__i-5 {
            bottom: 0;
            left: 0;

            width: image-width('views/5_l.jpg');
            height: image-height('views/5_l.jpg');

            @include img-bg('views/5_l.jpg');
        }
        &.__i-6 {
            right: image-width('views/4_l.jpg') + 10px;
            bottom: 0;

            width: image-width('views/6_l.jpg');
            height: image-height('views/6_l.jpg');

            @include img-bg('views/6_l.jpg');
        }
    }
    .views_advantages {
        margin-bottom: -25px;
    }
    .views_advantages_col {
        &.__v1,
        &.__v2 {
            width: 380px;
        }
    }
    .views_advantages_i {
        font-size: 18px;

        margin-bottom: 25px;
    }
}

@include scrn_m {
    .views {
        .container {
            width: 720px;
        }
    }
    .views_gallery {
        height: image-height('views/1_m.jpg') + image-height('views/5_m.jpg') + 10px;
    }
    .views_gallery_i {
        &.__i-1 {
            width: image-width('views/1_m.jpg');
            height: image-height('views/1_m.jpg');

            @include img-bg('views/1_m.jpg');
        }
        &.__i-2 {
            top: 0;
            right: 0;

            width: image-width('views/2_m.jpg');
            height: image-height('views/2_m.jpg');

            @include img-bg('views/2_m.jpg');
        }
        &.__i-3 {
            right: image-width('views/4_m.jpg') + 10px;
            bottom: image-height('views/6_m.jpg') + 10px;

            width: image-width('views/3_m.jpg');
            height: image-height('views/3_m.jpg');

            @include img-bg('views/3_m.jpg');
        }
        &.__i-4 {
            right: 0;
            bottom: 0;

            width: image-width('views/4_m.jpg');
            height: image-height('views/4_m.jpg');

            @include img-bg('views/4_m.jpg');
        }
        &.__i-5 {
            bottom: 0;
            left: 0;

            width: image-width('views/5_m.jpg');
            height: image-height('views/5_m.jpg');

            @include img-bg('views/5_m.jpg');
        }
        &.__i-6 {
            right: image-width('views/4_m.jpg') + 10px;
            bottom: 0;

            width: image-width('views/6_m.jpg');
            height: image-height('views/6_m.jpg');

            @include img-bg('views/6_m.jpg');
        }
    }
    .views_advantages {
        margin-bottom: -35px;
    }
    .views_advantages_col {
        &.__v1 {
            width: 380px;
            margin-left: 30px;
        }
        &.__v2 {
            width: 310px;
        }
    }
    .views_advantages_i {
        font-size: 18px;

        margin-bottom: 35px;
    }
}

@include scrn_s {
    .views {
        .container {
            width: 280px;
        }
    }
    .views_gallery {
        height: image-height('views/1_s.jpg') + image-height('views/5_s.jpg') + image-height('views/4_s.jpg') + image-height('views/2_s.jpg') + 10px*3;
        margin-bottom: 35px;
    }
    .views_gallery_i {
        &.__i-1 {
            top: 0;
            left: 0;

            width: image-width('views/1_s.jpg');
            height: image-height('views/1_s.jpg');

            @include img-bg('views/1_s.jpg');
        }
        &.__i-2 {
            top: auto;
            bottom: 0;
            left: 0;

            width: image-width('views/2_s.jpg');
            height: image-height('views/2_s.jpg');

            @include img-bg('views/2_s.jpg');
        }
        &.__i-3 {
            top: image-height('views/1_s.jpg') + image-height('views/5_s.jpg') + 10px*2;
            left: 0;

            width: image-width('views/3_s.jpg');
            height: image-height('views/3_s.jpg');

            @include img-bg('views/3_s.jpg');
        }
        &.__i-4 {
            top: image-height('views/1_s.jpg') + image-height('views/5_s.jpg') + 10px*2;
            right: 0;

            width: image-width('views/4_s.jpg');
            height: image-height('views/4_s.jpg');

            @include img-bg('views/4_s.jpg');
        }
        &.__i-5 {
            top: image-height('views/1_s.jpg') + 10px;
            left: 0;

            width: image-width('views/5_s.jpg');
            height: image-height('views/5_s.jpg');

            @include img-bg('views/5_s.jpg');
        }
        &.__i-6 {
            top: image-height('views/1_s.jpg') + image-height('views/5_s.jpg') + image-height('views/3_s.jpg') + 10px*3;
            left: 0;

            width: image-width('views/6_s.jpg');
            height: image-height('views/6_s.jpg');

            @include img-bg('views/6_s.jpg');
        }
    }
    .views_advantages {
        margin-bottom: -25px;
    }
    .views_advantages_col {
        &.__v1 {
            width: auto;
            margin-left: auto;
        }
        &.__v2 {
            width: auto;
        }
    }
    .views_advantages_i {
        font-size: 15px;

        margin-bottom: 25px;
    }
}
/*-----------------------------------------------------------------------------
    /views
-----------------------------------------------------------------------------*/
