/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    margin: 0;
    padding: 0;

    vertical-align: top;

    border: 0;
    outline: none;
}

.fancybox-wrap {
    position: absolute;
    z-index: 8020;
    top: 0;
    left: 0;
}

.fancybox-skin {
    position: relative;

    color: #444;
    background: transparent;
    background-color: #fafafa;
    text-shadow: none;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    box-shadow: 0 8px 32px rgba(23, 29, 79, .6);
}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: visible !important;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    margin: 0;
    padding: 15px;

    white-space: nowrap;

    color: #444;
}

.fancybox-image,
.fancybox-iframe {
    display: block;

    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading {
    background-image: image-url('fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    z-index: 8060;
    top: 50%;
    left: 50%;

    margin-top: -22px;
    margin-left: -22px;

    cursor: pointer;

    opacity: .8;
    background-position: 0 -108px;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;

    background: image-url('fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    z-index: 8040;
    top: 15px;
    right: 15px;

    padding: 5px;

    cursor: pointer;

    background-color: #fafafa !important;
    &:before {
        display: block;

        content: '';

        @include get-sprite($icons, 'close');
    }
    @include scrn_s {
        top: 5px;
        right: 5px;
    }
}

.fancybox-nav {
    position: absolute;
    z-index: 8040;
    top: 0;

    width: 40%;
    height: 100%;

    cursor: pointer;
    text-decoration: none;

    background: transparent image-url('fancybox/blank.gif');
    /* helps IE */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    z-index: 8040;
    top: 50%;

    visibility: hidden;

    width: 36px;
    height: 34px;
    margin-top: -18px;

    cursor: pointer;
}

.fancybox-prev span {
    left: 10px;
    &:before {
        font-size: 38px;

        content: '<';

        color: #fff;
        text-shadow: 1px 1px 2px rgba(#000, .35);
    }
}

.fancybox-next span {
    right: 10px;
    &:before {
        font-size: 38px;

        content: '>';

        color: #fff;
        text-shadow: 1px 1px 2px rgba(#000, .35);
    }
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;

    visibility: hidden;
    overflow: visible !important;

    max-width: 99999px;
    max-height: 99999px;
}


/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;

    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    z-index: 8010;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;

    @include rgba-background(rgba(#01073d, .8));
}

.fancybox-overlay-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/* Title helper */

.fancybox-title {
    font: normal 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    position: relative;
    z-index: 8050;

    visibility: hidden;

    text-shadow: none;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    z-index: 8050;
    right: 50%;
    bottom: 0;

    margin-bottom: -35px;

    text-align: center;
}

.fancybox-title-float-wrap .child {
    font-weight: bold;
    line-height: 24px;

    display: inline-block;

    margin-right: -100%;
    padding: 2px 20px;

    white-space: nowrap;

    color: #fff;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 2px #222;
}

.fancybox-title-outside-wrap {
    position: relative;

    margin-top: 10px;

    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 10px;

    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .8);
}


/*Retina graphics!*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading {
        background-image: image-url('fancybox/fancybox_sprite@2x.png');
        background-size: 44px 152px;
    }
    #fancybox-loading div {
        background-image: image-url('fancybox/fancybox_loading@2x.gif');
        background-size: 24px 24px;
    }
}
