.section.additions
    .container
        span.section_h.additions_h.__v1 БОНУСНЫЕ ДОПОЛНЕНИЯ К ЗАНЯТИЯМ
            span.section_subh Мы заботимся о Вашем удобстве
        ul.additions_list
            li.additions_i.__i-1 кубики
            // /.additions_i
            li.additions_i.__i-2 Коврики
            // /.additions_i
            li.additions_i.__i-3 ремни
            // /.additions_i
            li.additions_i.__i-4 хранение#[br]ваших#[br]ковриков
            // /.additions_i
            li.additions_i.__i-5 полотенца
            // /.additions_i
            li.additions_i.__i-6 вкусная#[br]водичка
            // /.additions_i
            li.additions_i.__i-7 хранение вашей одежды
            // /.additions_i
            li.additions_i.__i-8 чайная церемония после занятия
            // /.additions_i
        // /.additions_cnt
// /.additions