include mixins/class
.section.classes
    .container
        span.section_h.classes_h.__v1 НАШИ ЗАНЯТИЯ
            span.section_subh Ознакомьтесь со списком возможных занятий
        .classes-ctn
            .classes_i
                +class('__v1 __img-right', 'Для новичков', '#classes-order-1', '#more-1') Специализированный курс для начинающих поможет избавиться от внутренних запретов и осознать совершенство собственного тела.
            .classes_i
                +class('__v2 __img-left', 'Для продвинутых', '#classes-order-2', '#more-2') Регулярные занятия в группе единомышленников дает возможность достичь гармонии души и тела.
            .classes_i
                +class('__v3 __img-right', 'Для фанатов', '#classes-order-3', '#more-3') Абсолютное физическое здоровье и достижение духовного совершенства.