.section.contacts#kontakty
    .container
        span.section_h.contacts_h.__v1 КОНТАКТЫ
            span.section_subh
        .contacts_cnt
            .contacts_i.__addr Йога в Москва Сити #[br] Пресненская наб., 6с2 #[br] Башня Империя
            .contacts_i.__phone
                a.contacts_phone-lk(href="tel:+74951043704") +7 (495) 104-37-04
                a.contacts_lk(href="mailto:info@yogamoskvacity.ru") info@yogamoskvacity.ru
                .contacts_social
                    ul.social.__v2
                        li.social_i.__fb
                            a.social_lk(href="#777" target="_blank")
                        li.social_i.__insta
                            a.social_lk(href="#777" target="_blank")
                        li.social_i.__vk
                            a.social_lk(href="#777" target="_blank")
                    // /.social
                // /.contacts_social

// /.contacts