.section.faq
    .container
        span.section_h.faq_h.__v1 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
            span.section_subh
        ul.faq_list
            li.faq_i
                span.faq_q Я никогда ранее не занималась йогой. Можно ли, не имея достаточной подготовки, присоединиться к группе, которая тренируется уже давно?
                | Да, пожалуйста! Занятия построены таким образом, что максимальное внимание тренер уделяет именно новичкам. Кроме того, вы можете наблюдать, как выполняют упражнения более опытные участники группы.
            // /.faq_i
            li.faq_i
                span.faq_q Слышала, что занятия йогой оказывают огромное влияние на физическое состояние. В настоящий момент меня в большей мере беспокоит физическая форма. Смогу ли я достичь желаемых результатов?
                | Да, безусловно! Систематические занятия йогой укрепляют костно-мышечную систему, а также способствуют увеличению подвижности всех суставов и эластичности связочного аппарата.
            // /.faq_i
            li.faq_i
                span.faq_q Меня интересуют способы достижения душевной гармонии. Что может предложить йога в плане духовного развития?
                | Йога – это путь к духовному совершенству. Помимо асан и виньяс на каждом занятии практикуются пранаямы, определяющие психологическое состояние.
            // /.faq_i
            li.faq_i
                span.faq_q Поможет ли йога избавиться от постоянной мучительной боли в спине, если медикаментозные методы лечения не дают результатов?
                | Чтобы подобрать максимально эффективный комплекс упражнений, необходимо знать точный диагноз. Наши тренеры имеют серьезную медицинскую подготовку, поэтому предложат индивидуальный курс с учетом особенностей вашего организма.
            // /.faq_i
            li.faq_i
                span.faq_q Какая периодичность является оптимальной для занятий йогой?
                | В каждом случае вопрос решается индивидуально, но общая рекомендация – не менее двух раз в неделю.
            // /.faq_i
        // /.faq_list
// /.faq