.footer
    .container
        .footer_i.__i-1 © 2016 «Йога в Москва Сити»
        .footer_i.__i-2
            a.footer_lk.show-popup(href="#policy") Политика конфиденциальности
        .footer_i.__i-3
            a.footer_lk(href="mailto:info@yogamoskvacity.ru") info@yogamoskvacity.ru
        .footer_i.__i-4
            a.footer_lk.__phone(href="tel:+74951043704") +7 (495) 104-37-04
        //- .footer_i.__i-5.__right
        //-     a.footer_lk.__developer(href="http://amisunov.ru/" target="_blank") Создание и продвижение сайта - AMisunov.ru
// /.footer