.section.founder
    .container
        span.section_h.founder_h.__v1 ОБ ОСНОВАТЕЛЕ КЛУБА
            span.section_subh
        .founder_box
            .founder_cnt
                .founder_tx
                    span.founder_tx_h ИМЯ ФАМИЛИЯ ОСНОВАТЕЛЯ
                    p Здравствуйте, меня зовут ИМЯ ОСНОВАТЕЛЯ. Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя
                    p Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя
                    p Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя Текст от основателя
                // /.founder_tx
                .founder_social
                    ul.social
                        li.social_i.__fb
                            a.social_lk(href="#777" target="_blank")
                        li.social_i.__insta
                            a.social_lk(href="#777" target="_blank")
                        li.social_i.__vk
                            a.social_lk(href="#777" target="_blank")
                    // /.social
                // /.founder_social
                a.founder_btn.button.show-popup(href="#question-2-founder") Задать вопрос директору
                span.founder_sign
            // /.founder_cnt
        // /.founder_box
// /.founder