header.header
    .container
        .header_i.__i-1.__left
            a.logo(href="./")
        .header_i.__i-3
            .phone
                a.phone_lk(href="tel:+74951043704") +7 (495) 104-37-04
                span.phone_hint Вам легче позвонить
        .header_i.__i-4.__mrn
            a.header_btn.button.show-popup(href="#call") Обратный звонок
        .header_i.__i-5.__right
            include navigation.jade
// /.header
