<!-- Yandex.Metrika counter -->
<script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<script type="text/javascript">
var yaParams = {
    'abtest_title': '<?php echo $title ?>'
};
try {
    var yaCounter37420420 = new Ya.Metrika({
        id: 37420420,
        params: window.yaParams,
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        ut: "noindex",
        ecommerce: "dataLayer"
    });
} catch (e) {}
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/37420420?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->
