nav.navigation-fixed
    .container
        a.navigation-fixed_logo(href="./")
        ul.navigation-fixed_list
            li.navigation-fixed_i
                a.navigation_fixed_lk(href="#zal") Зал
            li.navigation-fixed_i
                a.navigation_fixed_lk(href="#raspisanie") Расписание
            li.navigation-fixed_i
                a.navigation_fixed_lk(href="#trener") Тренер
            li.navigation-fixed_i
                a.navigation_fixed_lk(href="#prays") Прайс
            li.navigation-fixed_i
                a.navigation_fixed_lk(href="#oplatit") оплатить
            li.navigation-fixed_i.__last
                a.navigation_fixed_lk(href="#kontakty") Контакты
        a.navigation-fixed_phone(href="tel:+74951043704") +7 (495) 104-37-04
        .navigation-fixed_btn.menu-btn.__v2
            input.menu-btn_checkbox#menu-fixed-btn_checkbox(type="checkbox")
            label.menu-btn_l(for="menu-fixed-btn_checkbox")
                span
// /.navigation-fixed