nav.navigation
    ul.navigation_list
        li.navigation_i
            a.navigation_lk(href="#zal") Зал
        li.navigation_i
            a.navigation_lk(href="#raspisanie") Расписание
        li.navigation_i
            a.navigation_lk(href="#trener") Тренер
        li.navigation_i
            a.navigation_lk(href="#prays") Прайс
        li.navigation_i
            a.navigation_lk(href="#oplatit") оплатить
        li.navigation_i.__last
            a.navigation_lk(href="#kontakty") Контакты
    .navigation_btn.menu-btn
        input.menu-btn_checkbox#menu-btn_checkbox(type="checkbox")
        label.menu-btn_l(for="menu-btn_checkbox")
            span
    .navigation_addr
        .navigation_addr_i
            a.addr.__phone(href="tel:+74951043704") +7 (495) 104-37-04
        .navigation_addr_i
            .addr.__addr Пресненская наб., 8с1
        .navigation_addr_i.__last
            a.button.show-popup(href="#call") Обратный звонок
// /.navigation