section.offer
    .container
        h1.offer_t <?php echo $title; ?>
        .offer_cta.cta-form.__v3
            span.cta-form_t Запишитесь на пробную практику
            form.cta-form_form(data-goal='offer')
                <?php get_utm($utm); ?>
                input.it.cta-form_it(type="text" name="name" placeholder="Ваше имя")
                input.it.cta-form_it(type="text" name="phone" placeholder="Ваш телефон")
                button.button.cta-form_btn РАСКРЫТЬ СЕБЯ
            span.cta-form_hint Ваши персональные данные не будут переданы третьим лицам
        // /.cta-form

// /.offer