include mixins/price-card
.section.price#prays
    .container
        span.section_h.price_h.__v2 НАШ ЛЕГКИЙ ПРАЙС
            span.section_subh Выберете удобный Вам тариф
        .price_cta
            .cta-form.__v3
                span.cta-form_t Запишитесь на пробную практику
                form.cta-form_form(action="php/send.php" method="POST" data-goal="price")
                    <?php get_utm($utm); ?>
                    input.it.cta-form_it(type="text" name="name" placeholder="Ваше имя")
                    input.it.cta-form_it(type="text" name="phone" placeholder="Ваш телефон")
                    button.button.cta-form_btn Записаться на тренировку
                span.cta-form_hint Ваши персональные данные не будут переданы третьим лицам
            // /.cta-form
        // /.price_cta
        .price_cnt
            .price_i
                +price-card('__btn1 __btn3', 'Пробное', '1', 'Практика', '1 000 р', false, 'Попробовать', '#price-1')
            // /.price_i
            .price_i
                +price-card('__btn2', 'РАЗОВОЕ', '1', 'Практика', '1 500 р', false, 'получить абонемент', '#price-2')
            // /.price_i
            .price_i
                +price-card('__btn2 __l1', 'АКТИВНЫЙ', '4', 'Практики', '5 000 р', 'оплатите сразу 6 месяцев и получите скидку 25%', 'получить абонемент', '#price-3', 'Хит')
            // /.price_i
            .price_i
                +price-card('__last __btn3 __l2', 'РЕЗУЛЬТАТИВНЫЙ', '8', 'Практик', '8 000 р', 'оплатите сразу 6 месяцев и получите скидку 25%', 'беру лучшее', '#price-4', 'Продвинутый')
            // /.price_i
        // /.price_cnt
        span.price_hint Абонемент действителен со дня покупки в течение месяца
// /.price