.section.shedule#raspisanie
    .container
        span.section_h.shedule_h.__v2 РАСПИСАНИЕ ЗАНЯТИй
            span.section_subh Мы открыты по следующему расписанию
        .shedule_cnt
            .shedule_shedule
                span.shedule_shedule_days Понедельник, Вторник, Четверг, Пятница
                span.shedule_shedule_time 07:30-09:00
                a.shedule_shedule_like.__v1.show-popup(href="#time") мне нравится это время
                span.shedule_shedule_time 19:30-21:00
                a.shedule_shedule_like.__v2.show-popup(href="#time") мне нравится это время
            .shedule_cta
                .cta-form.__v2
                    span.cta-form_t Не нашли подходящего расписания? Запросите удобное Вам время и дни, при наборе от 4-х человек мы откроем группу под Вас
                    form.cta-form_form(action="php/send.php" method="POST" data-goal="shedule")
                        <?php get_utm($utm); ?>
                        input.it.cta-form_it.__calendar.__select(type="text" name="days" placeholder="Выберите день")
                        select.select.cta-form_select(name="time")
                            option(value="Выберите время" selected) Выберите время
                            option(value="07:00-10:00") 07:00-10:00
                            option(value="10:00-13:00") 10:00-13:00
                            option(value="13:00-16:00") 13:00-16:00
                            option(value="16:00-19:00") 16:00-19:00
                            option(value="19:00-22:00") 19:00-22:00
                        input.it.cta-form_it(type="text" name="phone" placeholder="Введите ваш телефон")
                        button.button.cta-form_btn Отправить
                    // /.cta-form_form
                    span.cta-form_hint Остались вопросы по расписанию? Позвоните нам #[a.shedule_phone(href="tel:+74951043704") +7 (495) 104-37-04]
                    .cta-form_share Поделиться
                        .cta-form_share_social
                            ul.social.__v3
                                li.social_i.__fb
                                    a.social_lk(href="#777")
                                li.social_i.__insta
                                    a.social_lk(href="#777")
                                li.social_i.__vk
                                    a.social_lk(href="#777")
                            // /.social
            // /.shedule_cta