.section.trainer#trener
    .container
        span.section_h.trainer_h.__v1 наш ТРЕНЕР
            span.section_subh Тренер с 6-ти летним опытом научит лучшему
        .trainer_slider
            .trainer_slider_arrows
                span.trainer_slider_arrow.__prev
                span.trainer_slider_arrow.__next
            // /.trainer_slider_arrows
            .trainer_slider_slides
                .trainer_slider_slide
                    .trainer-card.__v1
                        .trainer-card_tx
                            p.__short Меня зовут Катерина, мне 29 лет. Я сертифицированный специалист по йогатерапии (Институт восточной медицины РУДН), инструктор хатха-йоги (Индия, Swastiyogashala, аккредитация Международного Альянса йоги). Занимаюсь медитацией, изучаю философию йоги. 
                            p В йоге считаю важным индивидуальный подход, грамотное отстраивание асан и получение удовольствия от практики.
                        .trainer-card_certificates
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/1b.jpg" data-fancybox-group="trainer-1")
                                    img.trainer-card_certificates_img(src="img/certificates/1.jpg", alt="Йога в Москва сити сертификат тренера 1")
                            // /.trainer-card_certificates_i
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/2b.jpg" data-fancybox-group="trainer-1")
                                    img.trainer-card_certificates_img(src="img/certificates/2.jpg", alt="Йога в Москва сити сертификат тренера 2")
                            // /.trainer-card_certificates_i
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/3b.jpg" data-fancybox-group="trainer-1")
                                    img.trainer-card_certificates_img(src="img/certificates/3.jpg", alt="Йога в Москва сити сертификат тренера 3")
                            // /.trainer-card_certificates_i
                        // /.trainer-card_certificates
                    // /.trainer-card
                // /.trainer_slider_slide
                .trainer_slider_slide
                    .trainer-card.__v1
                        .trainer-card_tx
                            p.__short Меня зовут Катерина, мне 29 лет. Я сертифицированный специалист по йогатерапии (Институт восточной медицины РУДН), инструктор хатха-йоги (Индия, Swastiyogashala, аккредитация Международного Альянса йоги). Занимаюсь медитацией, изучаю философию йоги. 
                            p В йоге считаю важным индивидуальный подход, грамотное отстраивание асан и получение удовольствия от практики.
                        .trainer-card_certificates
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/1b.jpg" data-fancybox-group="trainer-2")
                                    img.trainer-card_certificates_img(src="img/certificates/1.jpg", alt="Йога в Москва сити сертификат тренера 1")
                            // /.trainer-card_certificates_i
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/2b.jpg" data-fancybox-group="trainer-2")
                                    img.trainer-card_certificates_img(src="img/certificates/2.jpg", alt="Йога в Москва сити сертификат тренера 2")
                            // /.trainer-card_certificates_i
                            .trainer-card_certificates_i
                                a.trainer-card_certificates_lk.show-img-popup(href="img/certificates/3b.jpg" data-fancybox-group="trainer-2")
                                    img.trainer-card_certificates_img(src="img/certificates/3.jpg", alt="Йога в Москва сити сертификат тренера 3")
                            // /.trainer-card_certificates_i
                        // /.trainer-card_certificates
                    // /.trainer-card
                // /.trainer_slider_slide
            // /.trainer_slider_slides
        // /.trainer_slider
// /.section.trainer