.section.views#zal
    .container
        span.section_h.views_h.__v1 ПОСМОТРИТЕ, ГДЕ ПРОХОДЯТ НАШИ ЗАНЯТИЯ
            span.section_subh
        ul.views_gallery
            li.views_gallery_i.__i-1
                a.views_gallery_lk.show-img-popup(href="img/views/1b.jpg" data-fancybox-group="views")
            li.views_gallery_i.__i-2
                a.views_gallery_lk.show-img-popup(href="img/views/2b.jpg" data-fancybox-group="views")
            li.views_gallery_i.__i-3
                a.views_gallery_lk.show-img-popup(href="img/views/3b.jpg" data-fancybox-group="views")
            li.views_gallery_i.__i-4
                a.views_gallery_lk.show-img-popup(href="img/views/4b.jpg" data-fancybox-group="views")
            li.views_gallery_i.__i-5
                a.views_gallery_lk.show-img-popup(href="img/views/5b.jpg" data-fancybox-group="views")
            li.views_gallery_i.__i-6
                a.views_gallery_lk.show-img-popup(href="img/views/6b.jpg" data-fancybox-group="views")
        .views_advantages
            .views_advantages_col.__v1.__dnm
                span.views_advantages_i 53 ЭТАЖ МОСКВА СИТИ
                span.views_advantages_i ПЛОЩАДЬ ОКОН 12 #[sub м]#[sup 2]
                span.views_advantages_i ВЫСОТА ПОТОЛКА 3 #[sub м]
            .views_advantages_col.__v2.__dnm
                span.views_advantages_i ЧИСТЫЙ ЗАЛ
                span.views_advantages_i ПАНОРАМНЫЕ ОКНА
                span.views_advantages_i КЛИМАТ КОНТРОЛЬ
            .views_advantages_col.__v3.__dnm
                span.views_advantages_i РАЗДЕВАЛКА
                span.views_advantages_i ДУШ, ТУАЛЕТ
                span.views_advantages_i ХОСТЕС
            .views_advantages_col.__v1.__dbm
                span.views_advantages_i 51 ЭТАЖ МОСКВА СИТИ
                span.views_advantages_i ПЛОЩАДЬ ОКОН 12 #[sub м]#[sup 2]
                span.views_advantages_i ВЫСОТА ПОТОЛКА 3 #[sub м]
                span.views_advantages_i ЧИСТЫЙ ЗАЛ
                span.views_advantages_i ПАНОРАМНЫЕ ОКНА
            .views_advantages_col.__v2.__dbm
                span.views_advantages_i КЛИМАТ КОНТРОЛЬ
                span.views_advantages_i РАЗДЕВАЛКА
                span.views_advantages_i ДУШ, ТУАЛЕТ
                span.views_advantages_i ХОСТЕС
