/*-----------------------------------------------------------------------------
    Layout
-----------------------------------------------------------------------------*/
.container {
    width: 1080px;
    margin: auto;
}

@include scrn_l {
    .container {
        width: 960px;
    }
}

@include scrn_m {
    .container {
        width: 768px;
    }
}

@include scrn_s {
    .container {
        width: 320px;
    }
}
/*-----------------------------------------------------------------------------
    /Layout
-----------------------------------------------------------------------------*/
