/*-----------------------------------------------------------------------------
    navigation
-----------------------------------------------------------------------------*/
.navigation {
}

.navigation_list {
    display: none;

    opacity: 0;
    .__opened & {
        @include inline-block(middle);
    }
}

.navigation_i {
    margin-right: 2em;

    @include inline-block(middle);
    &.__last {
        margin-right: 0;
    }
}

.navigation_lk {
    font-family: $f1;
    font-size: 15px;
    font-weight: 500;

    text-decoration: none;
    letter-spacing: .14em;
    text-transform: uppercase;

    color: inherit;
    color: #fafafa;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .36);
}

.navigation_btn {
    cursor: pointer;
    // @include get-sprite($icons, 'navigation-open');

    @include inline-block(middle);
    .__opened & {
        margin-left: 50px;
    }
}

.navigation_checkbox {
}

.navigation_addr {
    display: none;

    margin-top: 40px;

    text-align: center;

    opacity: 0;
}

.navigation_addr_i {
    margin-bottom: 15px;
    &.__last {
        margin-top: 35px;
        margin-bottom: 0;
    }
}

@include scrn_l {
    .navigation_i {
        margin-right: 1.75em;
    }
}

@include scrn_m {
    .navigation {
        &.__opened {
        }
    }
    .navigation_list {
        width: 350px;
        margin-top: 8px;
        margin-left: 50px;
        .__opened & {
            @include inline-block(middle);
        }
    }
    .navigation_i {
        margin-bottom: 1em;
    }
    .navigation_btn {
        float: right;

        margin-top: 20px;
        .__opened & {
            margin-left: 0;
        }
    }
}

@include scrn_s {
    .navigation {
        position: relative;
    }
    .navigation_list {
        display: none;

        width: auto;
        margin-left: 0;
        padding-top: 50px;

        text-align: center;
        .__opened & {
            display: block;
        }
    }
    .navigation_i {
        display: block;

        margin: 0 auto 20px;
    }
    .navigation_lk {
        font-size: 16px;
    }
    .navigation_btn {
        position: absolute;
        z-index: 100;
        top: -53px;
        right: 0;
        .__opened & {
            top: -78px;
        }
    }
    .navigation_addr {
        .__opened & {
            display: block;
        }
    }
}
/*-----------------------------------------------------------------------------
    /navigation
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    navigation-fixed
-----------------------------------------------------------------------------*/
.navigation-fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 52px;

    @include rgba-background(rgba(#fff, .85));
    &:hover {
        @include rgba-background(rgba(#fff, 1));
    }
}

.navigation-fixed_logo {
    display: block;
    float: left;

    margin-top: 10px;
    margin-right: 125px;

    @include get-sprite($icons, 'logo-fixed');
}

.navigation-fixed_list {
    font-size: 14px;
    line-height: 52px;

    float: left;

    letter-spacing: .14em;
}

.navigation-fixed_i {
    float: left;

    margin-right: 40px;

    text-transform: uppercase;
}

.navigation_fixed_lk {
    text-decoration: none;

    color: #2b37a5;
    &:hover {
        text-decoration: underline;

        color: #ff1f65;
    }
}

.navigation-fixed_phone {
    font-size: 16px;
    line-height: 52px;

    float: right;

    text-decoration: none;
    letter-spacing: .1em;

    color: #2b37a5;
    &:hover {
        text-decoration: underline;
    }
}

.navigation-fixed_btn {
    display: none;
    float: right;

    margin-top: 14px;
}

@include scrn_l {
    .navigation-fixed_logo {
        margin-right: 73px;
    }
    .navigation-fixed_dropdown {
        width: 843px;
    }
    .navigation-fixed_i {
        margin-right: 35px;
    }
}

@include scrn_m {
    .navigation-fixed_logo {
        margin-right: 50px;
    }
    .navigation-fixed_dropdown {
        width: 673px;
    }
    .navigation-fixed_list {
        font-size: 11px;
    }
    .navigation-fixed_i {
        margin-right: 25px;
    }
    .navigation-fixed_phone {
        font-size: 12px;
    }
}

@include scrn_s {
    .navigation-fixed {
        height: 44px;
    }
    .navigation-fixed_logo {
        margin-top: 9px;

        @include get-sprite($icons, 'logo-fixed-s');
    }
    .navigation-fixed_list {
        position: absolute;
        top: 44px;
        left: 0;

        display: none;

        width: 100%;
        padding: 10px 0;

        background-color: #fff;
    }
    .navigation-fixed_i {
        font-size: 13px;
        line-height: 1;

        display: block;
        float: none;

        padding: 10px 0;

        text-align: center;
    }
    .navigation-fixed_phone {
        font-size: 15px;
        font-weight: 700;
        line-height: 44px;

        float: left;
    }
    .navigation-fixed_btn {
        display: block;
    }
}
/*-----------------------------------------------------------------------------
    /navigation-fixed
-----------------------------------------------------------------------------*/
