/*-----------------------------------------------------------------------------
    User interface
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
    button
-----------------------------------------------------------------------------*/
.button {
    font-family: $f1;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.33;

    padding: 14px 35px;

    transition: all .3s ease;
    text-decoration: none;
    letter-spacing: .14em;
    text-transform: uppercase;
    border-radius: 0;

    color: #fff;
    border: none;
    background-color: #ff1f65;

    @include inline-block(middle);
    &:hover {
        background-color: shade(#ff1f65, 10);
    }
    &:active {
        background-color: tint(#ff1f65, 10);
    }
    &[disabled],
    &.__disabled {
        background-color: #aaa;
    }
}

@include scrn_l {
    .button {
        padding: 14px 20px;
    }
}
@include scrn_s {
    .button {
        padding: 14px 10px;
    }
}
/*-----------------------------------------------------------------------------
    /button
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    Input text
-----------------------------------------------------------------------------*/
.it {
    font-family: $f1;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;

    box-sizing: border-box;
    height: 44px;
    padding: 0 20px;

    letter-spacing: .025em;

    color: #394abc;
    border: none;

    @include inline-block(middle);
    @include input-placeholder {
        color: #394abc;
    }
    &.__calendar {
        box-sizing: border-box;
        padding-right: 37px;

        background-image: image-url('calendar.png');
        background-repeat: no-repeat;
        background-position: 94% 50%;
    }
    &.__error {
        border: 1px solid  #f00;

        @include input-placeholder {
            color: #f00;
        }
    }
}
/*-----------------------------------------------------------------------------
    /Input text
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    select
-----------------------------------------------------------------------------*/
.select {
    font-family: $f1;
    font-size: 16px;
    border-radius: 0;

    min-width: 200px;

    cursor: pointer;

    color: #2b37a5;
    background-color: #fff;

    @include inline-block(middle);
}

.select_discount {
    font-size: 11px;
    font-weight: 400;
    line-height: 1;

    position: absolute;
    z-index: 0;
    top: 50%;
    right: 44px;

    margin-top: -(11px / 2);
}

.jq-selectbox__select {
    position: relative;

    padding: 14px 0 14px 21px;
}

.jq-selectbox__trigger {
    position: absolute;
    top: 20px;
    right: 15px;
}

.jq-selectbox__trigger-arrow {
    transition: all .15s;
    transform-origin: 50% 50%;

    @include get-sprite($icons, 'select');
    .opened & {
        transform: rotate(180deg);
    }
}

.jq-selectbox__select-text {
    display: block;

    width: 100% !important;

    text-align: left;
}

.jq-selectbox__dropdown {
    width: 100%;

    text-align: left;

    background-color: #fff;
    li {
        padding: .25em 0 .25em 21px;
        &:hover {
            cursor: pointer;

            color: #fff;
            background-color: #ff1f65;
        }
        &.disabled {
            cursor: default;

            color: #999;
            &:hover {
                background-color: #fff;
            }
        }
    }
}

/*-----------------------------------------------------------------------------
    /select
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    radio
-----------------------------------------------------------------------------*/
.radio {
    line-height: 1;

    position: relative;

    width: 8px;
    height: 8px;

    cursor: pointer;

    border: 1px solid #ff1f65;
    border-radius: 50%;
    &.checked {
        .jq-radio__div {
            opacity: 1;
        }
    }
    .jq-radio__div {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 4px;
        height: 4px;
        margin-top: -(4px / 2);
        margin-left: -(4px / 2);

        transition: all .35s;

        opacity: 0;
        border-radius: 50%;
        background-color: #ff1f65;
    }
}


/*-----------------------------------------------------------------------------
    /radio
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    textarea
-----------------------------------------------------------------------------*/
.textarea {
    font-family: $f1;
    font-size: 16px;

    box-sizing: border-box;
    width: 260px;
    height: 180px;
    padding: 10px 20px;

    resize: none;
    letter-spacing: .025em;

    color: #2b37a5;
    border: none;
    background-color: #e4e8fa;

    @include input-placeholder {
        color: #2b37a5;
    }
}
/*-----------------------------------------------------------------------------
    /textarea
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    menu-btn
-----------------------------------------------------------------------------*/
$menu-btn-width: 24px;
$menu-btn-thickness: 2px;
$menu-btn-gap: 6px;
$menu-btn-color: #fff;
$menu-btn-color-2: #ff1f65;

.menu-btn {
    width: $menu-btn-width;
}

.menu-btn_l {
    display: block;

    height: $menu-btn-thickness*3 + $menu-btn-gap*2;

    cursor: pointer;
    &:before,
    span,
    &:after {
        display: block;
        float: left;

        width: 100%;
        height: $menu-btn-thickness;

        content: '';
        transition: all .3s ease;

        background-color: $menu-btn-color;
        .__v2 & {
            background-color: $menu-btn-color-2;
        }
    }
    &:before,
    &:after {
        transition: all .3s ease;
    }
    &:before,
    span {
        margin-bottom: $menu-btn-gap;
    }
    &:before {
        transform-origin: 0 0;
    }
    span {
        transition: all .3s ease .15s;
        transform-origin: 0 50%;
    }
    &:after {
        transform-origin: 0 100%;
    }
    .menu-btn_checkbox:checked + & {
        &:before,
        &:after {
            transition-delay: .15s;
        }
        &:before {
            transform: rotate(45deg);
        }
        span {
            transform: scaleX(0);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.menu-btn_checkbox {
    display: none;
}
/*-----------------------------------------------------------------------------
    /menu-btn
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    section
-----------------------------------------------------------------------------*/
.section {
    padding: 100px 0;
}

.section_h {
    font-size: 36px;
    font-weight: 600;

    display: block;

    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    &.__v1 {
        color: #2b37a5;
        .section_subh {
            color: #73789e;
        }
    }
    &.__v2 {
        color: #fff;
        .section_subh {
            color: #fff;
        }
    }
}

.section_subh {
    font-size: 24px;
    font-weight: 400;

    display: block;

    letter-spacing: .06em;
    text-transform: none;
    &:before {
        display: block;

        width: 160px;
        height: 3px;
        margin: 30px auto 27px;

        content: '';

        background-color: #ff1f65;
    }
}

@include scrn_l {
    .section {
        padding: 70px 0;
    }
}

@include scrn_m {
    .section_h {
        font-size: 29px;
        line-height: 1.33;
    }
    .section_subh {
        font-size: 20px;
        &:before {
            margin: 24px auto 21px;
        }
    }
}

@include scrn_s {
    .section {
        padding: 50px 0;
    }
    .section_h {
        font-size: 17px;
        line-height: 27px;
    }
    .section_subh {
        font-size: 13px;
        line-height: 18px;
        &:before {
            width: 120px;
            margin: 16px auto;
        }
    }
}
/*-----------------------------------------------------------------------------
    /section
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    checkbox
-----------------------------------------------------------------------------*/
.checkbox {
    position: relative;

    overflow: visible !important;

    width: 18px;
    height: 18px;

    cursor: pointer;

    border: 2px solid #dbdeed;
}

.jq-checkbox__div {
    position: absolute;
    bottom: 4px;
    left: 2px;

    transition: all .35s;
    // display: none;

    opacity: 0;

    @include get-sprite($icons, 'check');
    .checked & {
        // display: block;
        opacity: 1;
    }
}
/*-----------------------------------------------------------------------------
    /checkbox
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    to-top
-----------------------------------------------------------------------------*/
.to-top {
    display: none;
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 80px;

    display: block;

    width: 58px;
    height: 37px;

    transition: all .35s;

    background-color: white;
    box-shadow: 0 3px 6px rgba(26, 50, 73, .16);
    &:hover {
        transform: translateY(-10px);

        box-shadow: 0 8px 12px rgba(26, 50, 73, .16);
    }
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -(get-sprite-height($icons, 'to-top') / 2);
        margin-left: -(get-sprite-width($icons, 'to-top') / 2);

        content: '';

        @include get-sprite($icons, 'to-top');
    }
}

@include scrn_m {
    .to-top {
        bottom: 50px;
    }
}
/*-----------------------------------------------------------------------------
    /to-top
-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
    /User interface
-----------------------------------------------------------------------------*/
