b {
    font-weight: 700;
}

button {
    cursor: pointer;
}

a, input, button {
    outline: none;
}

* {
    @include selection(#ff1f65, #fff);
}

.__dbl,
.__dibl,
.__dbm,
.__dbs {
    display: none;
}

@include scrn_l {
    .__dbl {
        display: block;
    }
    .__dibl {
        @include inline-block(middle);
    }
    .__dnl {
        display: none;
    }
}

@include scrn_m {
    .__dbm {
        display: block;
    }
    .__dnm {
        display: none;
    }
}

@include scrn_s {
    .__dbs {
        display: block;
    }
    .__dns {
        display: none;
    }
}