// Миксины
// Спрайты для media queries
@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
    $sprite-image: sprite-file($map, $sprite);
    $sprite-map: sprite-url($map);
    $sprite-position: sprite-position($map, $sprite);
    background: $sprite-map $sprite-position $repeat;

    @if $height == true {
        $sprite-height: image-height($sprite-image);
        height: $sprite-height; 
    }

    @if $width == true {
        $sprite-width: image-width($sprite-image);
        width: $sprite-width; 
    }
}

// Получить ширину спрайта
@function get-sprite-width($map, $sprite) {
    $sprite-image: sprite-file($map, $sprite);
    @return image-width($sprite-image);
}

// Получить высоту спрайта
@function get-sprite-height($map, $sprite) {
    $sprite-image: sprite-file($map, $sprite);
    @return image-height($sprite-image);
}

// Вставка размеров изображения
@mixin img-size($img) {
    width: image-width($img);
    height: image-height($img);
}

// Изображение в качестве бэкграунда блока
@mixin img-bg($img) {
    background: image-url($img) 50% 50% no-repeat;
    background-size: cover;
}

// Медиа запросы
@mixin scrn_l {
    @media (max-width: 1080px) {
        @content
    }
};
@mixin scrn_m {
    @media (max-width: 959px) {
        @content
    }
};
@mixin scrn_s {
    @media (max-width: 767px) {
        @content
    }
};