// Конфигурация плагинов
$rgbapng_path: 'bg';
$rgbapng_px_size: 1;

// Включение плагинов
@import 'compass/css3';
@import 'compass/css3/selection';
@import 'compass/utilities';
@import 'rgbapng';

// Немного шрифтов
@include font-face('Lato', font-files('lato-light.ttf', 'lato-light.woff', 'lato-light.svg', 'lato-light.otf'), 'lato-light.eot', 300, normal);
@include font-face('Lato', font-files('lato-regular.ttf', 'lato-regular.woff', 'lato-regular.svg', 'lato-regular.otf'), 'lato-regular.eot', 400, normal);
@include font-face('Lato', font-files('lato-semibold.ttf', 'lato-semibold.woff', 'lato-semibold.svg', 'lato-semibold.otf'), 'lato-semibold.eot', 600, normal);
@include font-face('Lato', font-files('lato-bold.ttf', 'lato-bold.woff', 'lato-bold.svg', 'lato-bold.otf'), 'lato-bold.eot', 700, normal);
@include font-face('Lato', font-files('lato-black.ttf', 'lato-black.woff', 'lato-black.svg', 'lato-black.otf'), 'lato-black.eot', 900, normal);

@include font-face('Lato', font-files('lato-italic.ttf', 'lato-italic.woff', 'lato-italic.svg'), 'lato-italic.eot', 400, italic);
@include font-face('Lato', font-files('lato-medium-italic.ttf', 'lato-medium-italic.woff', 'lato-medium-italic.svg'), 'lato-medium-italic.eot', 600, italic);

@include font-face('ProximaNova', font-files('proximanova-light.ttf', 'proximanova-light.woff', 'proximanova-light.svg', 'proximanova-light.otf'), 'proximanova-light.eot', 300, normal);
@include font-face('ProximaNova', font-files('proximanova-regular.ttf', 'proximanova-regular.woff', 'proximanova-regular.svg', 'proximanova-regular.otf'), 'proximanova-regular.eot', 400, normal);

$f1: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
$f2: 'ProximaNova', Arial, "Helvetica Neue", Helvetica, sans-serif;

$icons: sprite-map('icons/*.png');
$borders: sprite-map('borders/*.png');