.modal.call#call
    .modal_cnt.call_cnt
        span.call_h Заказать звонок
        form.call_form(action="php/send.php" method="POST" data-goal="callback")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#price-2
    .modal_cnt.call_cnt
        span.call_h Заказать звонок
        form.call_form(action="php/send.php" method="POST" data-goal='price-2')
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#price-3
    .modal_cnt.call_cnt
        span.call_h Заказать звонок
        form.call_form(action="php/send.php" method="POST" data-goal='price-3')
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#price-4
    .modal_cnt.call_cnt
        span.call_h Заказать звонок
        form.call_form(action="php/send.php" method="POST" data-goal='price-4')
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#price-1
    .modal_cnt.call_cnt
        span.call_h Запишитесь на пробную тренировку
        form.call_form(action="php/send.php" method="POST" data-goal="price-1")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#classes-order-1
    .modal_cnt.call_cnt
        span.call_h Запишитесь на пробную тренировку
        form.call_form(action="php/send.php" method="POST" data-goal="classes-order-1")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#classes-order-2
    .modal_cnt.call_cnt
        span.call_h Запишитесь на пробную тренировку
        form.call_form(action="php/send.php" method="POST" data-goal="classes-order-2")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#classes-order-3
    .modal_cnt.call_cnt
        span.call_h Запишитесь на пробную тренировку
        form.call_form(action="php/send.php" method="POST" data-goal="classes-order-3")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#time
    .modal_cnt.call_cnt
        span.call_h Запишитесь на пробную тренировку
        form.call_form(action="php/send.php" method="POST" data-goal="shedule-time")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#question-2-founder
    .modal_cnt.call_cnt
        span.call_h вопрос директору
        form.call_form(action="php/send.php" method="POST" data-goal="founder")
            <?php get_utm($utm); ?>
            input.it.call_it(type="text" name="name" placeholder="Ваше имя")
            input.it.call_it(type="text" name="phone" placeholder="Ваш телефон")
            textarea.textarea.call_ta(name="question" placeholder="Ваш вопрос")
            button.button.call_btn Отправить
            span.call_hint Ваши персональные данные не будут переданы третьим лицам
// /.call

.modal.call#error
    .modal_cnt.call_cnt
        span.call_h Ошибка
        | Попробуйте еще раз, пожалуйста.
// /.call