.modal.more#more-1
    .more_cnt.modal_cnt
        .more_h.modal_h Йога для новичков
        p Если вы только открываете для себя таинственный и чарующий мир древней практики, лучше места для этого, чем «Йога в Москва Сити» вам не найти. Йога включает широкий спектр подходов и методов – это позы, дыхательные упражнения, пение и медитация. Все они приводят к развитию сочувствующего самоосознания, действуя через физический опыт. Так вы получаете доступ к тончайшим глубинам себя, пробуждая их и совершенствуя.
        p У нас вы наполнитесь новыми ощущениями с помощью опытных инструкторов. Они постоянно обогащают свои знания и делятся ими во время практики. Каждый класс – это пример сочетания классических традиций, современного понимания и участливого руководства. Наши инструкторы создают безопасное пространство для исследования и способны адаптировать практику к любому человеку на любом уровне мастерства.
        p Самое главное, что наши тренеры понимают, как работать с более тонкими аспектами тела, ума, голоса, энергии и эмоций. Они могут научить вас, как использовать йогу, чтобы сбалансировать настроение, справиться с горем или гневом, найти свой центр, и двигаться с большей легкостью и грацией через повседневную жизнь. Какое бы направление вы ни выбрали, у нас вы найдете поддержку и экспертные рекомендации.
        form.more_form(action="php/send.php" method="POST" data-goal="classes-more-1")
            <?php get_utm($utm); ?>
            input(type="hidden", name="formname", value="Узнать подробнее - Йога для новичков")
            input.more_form_it.it.modal_it(type="text" name="name" placeholder="Ваше имя")
            input.more_form_it.it.modal_it(type="text" name="phone" placeholder="Ваш телефон")
            button.more_form_btn.button.modal_btn получить билет
// /.more

.modal.more#more-2
    .more_cnt.modal_cnt
        .more_h.modal_h Занятия йогой для продвинутых
        p В «Йога в Москва Сити» мы стремимся к созданию многостороннего сообщества посредством изучения и практикования йоги. Это не просто тренировка или лечебная физкультура, это полноценный образ жизни, который охватывает множество аспектов.
        p Вам уже известно, что йога – это древняя дисциплина, которая способствует оздоровлению, росту и трансформации. Наши квалифицированные инструкторы стремятся делиться богатством и красотой этой легендарной традиции с людьми всех возрастов, происхождения и способностей.
        p Все, кто приходят к нам на занятия, уже обладая некоторым опытом, смогут оценить наши старания по созданию комфортного места для исследования своей личности. «Йога в Москва Сити» предлагает всем продвинутым пользователям инструменты для усиления энергии, развития осведомленности и окончательной актуализации самопознания и трансформации.
        p Здесь вас ждут занятия по хатха-йоге, хатха-флоу, виньяса, щадящей и восстановительной йоге. Специально для продвинутых пользователей мы разработали курсы с дозированной нагрузкой. Выбирайте наиболее удобное для себя время. Приходите к нам, чтобы усовершенствовать свои навыки с помощью наших инструкторов.
        form.more_form(action="php/send.php" method="POST" data-goal="classes-more-2")
            <?php get_utm($utm); ?>
            input(type="hidden", name="formname", value="Занятия йогой для продвинутых")
            input.more_form_it.it.modal_it(type="text" name="name" placeholder="Ваше имя")
            input.more_form_it.it.modal_it(type="text" name="phone" placeholder="Ваш телефон")
            button.more_form_btn.button.modal_btn получить билет
// /.more

.modal.more#more-3
    .more_cnt.modal_cnt
        .more_h.modal_h Йога для фанатов
        p Вы без ума от йоги и не устаете исследовать это древнейшее искусство? Приходите к нам – наши инструкторы готовы работать с вами даже на ежедневной основе. Чем мы отличаемся от других центров? «Йога в Москва Сити» понимает, что добиться состояния баланса в суматохе крупных фитнес-центров очень не просто. Поэтому наши классы проводятся в уютных, спокойных студиях с приятным освещением и температурой. Здесь ничто не отвлечет вас от погружения в самосозерцание.
        p Наши сертифицированные инструкторы, которые постоянно повышают свою квалификацию, проводят занятия, которые сочетают традиционные и современные стили йоги. Мы уверены, что достигать личного роста и трансформации можно каждый день. Наш центр зреет и растет, поэтому мы стараемся разнообразить свои предложения, чтобы озадачить и поддержать наше разностороннее сообщество.
        p Подбирайте для себя наиболее подходящие стили и наиболее эффективные упражнения. Йога-виньяса, хатха, прана-флоу, ситха, лана, дзен соматические движения, различные подходы к медитации – это лишь для начала. Все занятия проводятся с профессионалами в дружелюбной атмосфере, сохраняя ваш покой и позволяя вам прикоснуться к своей сути.
        form.more_form(action="php/send.php" method="POST" data-goal="classes-more-3")
            <?php get_utm($utm); ?>
            input(type="hidden", name="formname", value="Йога для фанатов")
            input.more_form_it.it.modal_it(type="text" name="name" placeholder="Ваше имя")
            input.more_form_it.it.modal_it(type="text" name="phone" placeholder="Ваш телефон")
            button.more_form_btn.button.modal_btn получить билет
// /.more