.modal.calendar#calendar
    .modal_cnt.calendar_cnt
        .calendar_head
            span.calendar_head_month Январь-Февраль 2016
            span.calendar_head_hint Выберите 
                span.calendar_head_hint_num 4
                |  даты
        form.calendar_form
            table.calendar_calendar
                thead
                    tr
                        td ПН
                        td ВТ
                        td СР
                        td ЧТ
                        td ПТ
                        td СБ
                        td ВС
                tbody
                    tr
                        td.__disabled
                            span.calendar_calendar_day 5
                        td.__disabled
                            span.calendar_calendar_day 6
                        td.__disabled
                            span.calendar_calendar_day 7
                        td
                            span.calendar_calendar_day 8
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="08.01.2016")
                        td
                            span.calendar_calendar_day 9
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="09.01.2016")
                        td.__full
                            span.calendar_calendar_day 10
                            span.calendar_calendar_full Нет мест
                        td
                            span.calendar_calendar_day 11
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="11.01.2016")
                    tr
                        td
                            span.calendar_calendar_day 12
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="12.01.2016")
                        td
                            span.calendar_calendar_day 13
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="13.01.2016")
                        td.__full
                            span.calendar_calendar_day 14
                            span.calendar_calendar_full Нет мест
                        td
                            span.calendar_calendar_day 15
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="15.01.2016")
                        td
                            span.calendar_calendar_day 16
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="16.01.2016")
                        td
                            span.calendar_calendar_day 17
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="17.01.2016")
                        td.__full
                            span.calendar_calendar_day 18
                            span.calendar_calendar_full Нет мест
                    tr
                        td.__full
                            span.calendar_calendar_day 19
                            span.calendar_calendar_full Нет мест
                        td
                            span.calendar_calendar_day 20
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="20.01.2016")
                        td
                            span.calendar_calendar_day 21
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="21.01.2016")
                        td
                            span.calendar_calendar_day 22
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="22.01.2016")
                        td
                            span.calendar_calendar_day 23
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="23.01.2016")
                        td
                            span.calendar_calendar_day 24
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="24.01.2016")
                        td
                            span.calendar_calendar_day 25
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="25.01.2016")
                    tr
                        td
                            span.calendar_calendar_day 26
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="26.01.2016")
                        td
                            span.calendar_calendar_day 27
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="27.01.2016")
                        td
                            span.calendar_calendar_day 28
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="28.01.2016")
                        td.__full
                            span.calendar_calendar_day 29
                            span.calendar_calendar_full Нет мест
                        td
                            span.calendar_calendar_day 30
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="30.01.2016")
                        td
                            span.calendar_calendar_day 31
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="31.01.2016")
                        td
                            span.calendar_calendar_day 1
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="01.02.2016")
                    tr
                        td
                            span.calendar_calendar_day 2
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="02.02.2016")
                        td
                            span.calendar_calendar_day 3
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="03.02.2016")
                        td
                            span.calendar_calendar_day 4
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="04.02.2016")
                        td
                            span.calendar_calendar_day 5
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="05.02.2016")
                        td
                            span.calendar_calendar_day 6
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="06.02.2016")
                        td
                            span.calendar_calendar_day 7
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="07.02.2016")
                        td
                            span.calendar_calendar_day 8
                            input.checkbox.calendar_calendar_checkbox(type="checkbox", name="days[]", value="08.02.2016")
            // /.calendar_calendar
            button.button.calendar_btn Продолжить
        // /.calendar_form
    // /.calendar_cnt
// /.calendar