.modal.policy#policy
    .modal_cnt.policy_cnt
        span.policy_h Политика конфиденциальности
        p Сайт http://yogamoskvacity.ru/ уважает ваше право и соблюдает конфиденциальность при заполнении, передачи и хранении ваших конфиденциальных сведений. Размещение заявки на сайте http://yogamoskvacity.ru/ означает Ваше согласие на обработку данных и дальнейшей передачи ваших контактных данных «Йога Москва Сити».
        p Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, имущественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.
        p Целью обработки персональных данных является оказание сайтом http://yogamoskvacity.ru/ информационно-справочных услуг, а также информирование об оказываемых услугах «Йога Москва Сити».
        p В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде по адресу: info@yogamoskvacity.ru
// /.policy