.modal.registration#registration-without-days-select
    .modal_cnt.registration_cnt
        span.registration_h Запись на занятие
        form.registration_form
            select.select.registration_form_select.__nm(name="classes-count")
                option(value="1 занятие" selected) 1 занятие
                option(value="2 занятия") 2 занятия
                option(value="3 занятия") 3 занятия
                option(value="4 занятия") 4 занятия
            .registration_shedule
                span.registration_shedule_trigger Показать расписание
                .registration_shedule_list
                    .registration_shedule_i
                        span.registration_shedule_h 15 января 2016
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[0][]" value="07:30-09:00" checked)
                            | 07:30-09:00
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[0][]" value="09:00-10:30")
                            | 09:00-10:30
                    // /.registration_shedule_i
                    .registration_shedule_i
                        span.registration_shedule_h 17 января 2016
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[1][]" value="07:30-09:00" checked)
                            | 07:30-09:00
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[1][]" value="09:00-10:30")
                            | 09:00-10:30
                    // /.registration_shedule_i
                    .registration_shedule_i
                        span.registration_shedule_h 18 января 2016
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[2][]" value="07:30-09:00" checked)
                            | 07:30-09:00
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[2][]" value="09:00-10:30")
                            | 09:00-10:30
                    // /.registration_shedule_i
                    .registration_shedule_i
                        span.registration_shedule_h 22 января 2016
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[3][]" value="07:30-09:00" checked)
                            | 07:30-09:00
                        label.registration_shedule_l
                            input.radio.registration_form_radio(type="radio" name="days[3][]" value="09:00-10:30")
                            | 09:00-10:30
                    // /.registration_shedule_i
                // /.registration_shedule_list
            // /.registration_shedule
            input.it.registration_form_it(type="text" name="name" placeholder="Ваше имя")
            input.it.registration_form_it(type="text" name="surname" placeholder="Ваша фамилия")
            input.it.registration_form_it(type="text" name="phone" placeholder="Ваш телефон")
            input.it.registration_form_it(type="text" name="mail" placeholder="Ваш E-mail")
            select.select.registration_form_select.__discount(name="months")
                option(value="1" selected) 1 месяц
                option(value="2") 2 месяца
            span.registration_form_hint При оплате 2 месяцев скидка на второй 50%
            span.registration_form_sum Стоимость 14 000 р
            button.button.registration_form_btn Оплатить
            span.registration_form_hint Указана цена при оплате сегодня 06.05.2016. Завтра цена может измениться.
// /.registration

.modal.registration#registration-with-days-select
    .modal_cnt.registration_cnt
        span.registration_h Запись на занятие
        form.registration_form
            select.select.registration_form_select(name="classes-count")
                option(value="1 занятие" selected) 1 занятие
                option(value="2 занятия") 2 занятия
                option(value="3 занятия") 3 занятия
                option(value="4 занятия") 4 занятия
            input.it.registration_form_it.__calendar(type="text" name="days" placeholder="Выберите день")
            input.it.registration_form_it(type="text" name="name" placeholder="Ваше имя")
            input.it.registration_form_it(type="text" name="surname" placeholder="Ваша фамилия")
            input.it.registration_form_it(type="text" name="phone" placeholder="Ваш телефон")
            input.it.registration_form_it(type="text" name="mail" placeholder="Ваш E-mail")
            select.select.registration_form_select.__discount(name="months")
                option(value="1" selected) 1 месяц
                option(value="2") 2 месяца
            span.registration_form_hint При оплате 2 месяцев скидка на второй 50%
            span.registration_form_sum Стоимость 14 000 р
            button.button.registration_form_btn Оплатить
            span.registration_form_hint Указана цена при оплате сегодня 06.05.2016. Завтра цена может измениться.
// /.registration

.modal.registration#pay
    .modal_cnt.registration_cnt
        span.registration_h Оплатить занятия
        form.registration_form
            select.select.registration_form_select(name="classes-count")
                option(value="1 занятие" selected) 1 занятие
                option(value="2 занятия") 2 занятия
                option(value="3 занятия") 3 занятия
                option(value="4 занятия") 4 занятия
            input.it.registration_form_it.__calendar(type="text" name="days" placeholder="Выберите день")
            input.it.registration_form_it(type="text" name="name" placeholder="Ваше имя")
            input.it.registration_form_it(type="text" name="surname" placeholder="Ваша фамилия")
            input.it.registration_form_it(type="text" name="phone" placeholder="Ваш телефон")
            input.it.registration_form_it(type="text" name="mail" placeholder="Ваш E-mail")
            select.select.registration_form_select.__discount(name="months")
                option(value="1" selected) 1 месяц
                option(value="2") 2 месяца
            span.registration_form_hint При оплате 2 месяцев скидка на второй 50%
            span.registration_form_sum Стоимость 14 000 р
            button.button.registration_form_btn Оплатить
            span.registration_form_hint Указана цена при оплате сегодня 06.05.2016. Завтра цена может измениться.
// /.registration