.modal.thanks#sale
    .modal_cnt.thanks_cnt.__v2
        span.modal_h.__v1 Занятия приостановлены. Сайт продается:
        span.thanks_offer
            | #[a(href='mailto:amisunov@gmail.com') amisunov@gmail.com],
            | #[a(href='tel:+79168245247') +7 916 824 52 47]