.modal.thanks#thanks-pay
    .modal_cnt.thanks_cnt
        span.modal_h.__v1 Спасибо, что Вы записались на практику!
        span.thanks_offer Получите бесплатную практику в следующем месяце!
        | Подарите занятие другу, используя промо код 
        span.thanks_promocode 746 546 756 249
        br
        | Для него это занятие бесплатное, а Вам мы подарим бесплатную практику в следующем месяце.
        .thanks_places
            .thanks_places_i.__busy
            .thanks_places_i.__busy
            .thanks_places_i.__busy
            .thanks_places_i.__busy
            .thanks_places_i.__busy
            .thanks_places_i
            .thanks_places_i
            .thanks_places_i.__last
        span.thanks_places-hint На Вашу ближайшую практику осталось 5 мест из 8
        // /.thanks_places
        .thanks_share Поделиться
            .thanks_share_social
                ul.social
                    li.social_i.__fb
                        a.social_lk(href="#777")
                    li.social_i.__insta
                        a.social_lk(href="#777")
                    li.social_i.__vk
                        a.social_lk(href="#777")
                // /.social
        // /.thanks_share
// /.thanks

.modal.thanks#thanks
    .modal_cnt.thanks_cnt
        span.modal_h.__v1 Спасибо, мы свяжемся с Вами в ближайшее время
        span.thanks_offer Получите бесплатную практику в следующем месяце!
        | Подарите занятие другу. Для него это занятие бесплатное, а Вам мы подарим бесплатную практику в следующем месяце.
        .thanks_share Поделиться
            .thanks_share_social
                ul.social
                    li.social_i.__fb
                        a.social_lk(href="#777")
                    li.social_i.__insta
                        a.social_lk(href="#777")
                    li.social_i.__vk
                        a.social_lk(href="#777")
                // /.social
        // /.thanks_share
// /.thanks