mixin class(variant, header, link, moreLink)
    .class(class!=variant)
        .class_img
        .class_border
            .class_cnt
                span.class_h=header
                span.class_tx
                    if block
                        block
                //- a.button.show-popup.class_btn(href!=link) Узнать подробнее
                a.class_btn.button.show-popup(href!=link) Записаться
                a.class_more.show-popup(href!=moreLink) Узнать подробнее
        // /.class_cnt
    // /.class