mixin price-card(variant, name, num, declination, price, discounttx, btnTx, link, labelTx)
    .price-card(class!=variant)
        if labelTx
            span.price-card_l=labelTx
        span.price-card_h=name
        span.price-card_num
            span.price-card_num_num=num
            =declination
        span.price-card_price=price
        if discount || discounttx
            span.price-card_discount=discounttx
        a.button.price-card_btn.show-popup(href!=link)=btnTx
    // /.card