| <?php include 'php/logic.php'; ?>
doctype html
html.no-js(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title Йога Москва Сити – запишитесь на пробную тренировку | Йога Москва Сити
        
        meta(name="description", content="Центр йоги в Москва Сити. Занятия йогой на высоте птичьего полета. Йога-инвентарь бесплатно. Кондиционирование помещения, душ, туалет. Запишитесь на пробную практику.")
        meta(name="keywords", content="йога москва сити центр занятия практика")

        meta(property="og:title", content="Йога Москва Сити – запишитесь на пробную тренировку | Йога Москва Сити")
        meta(property="og:site_name", content="Йога Москва Сити – запишитесь на пробную тренировку | Йога Москва Сити")
        meta(property="og:url", content="http://yogamoskvacity.ru/")
        meta(property="og:description", content="Центр йоги в Москва Сити. Занятия йогой на высоте птичьего полета. Йога-инвентарь бесплатно. Кондиционирование помещения, душ, туалет. Запишитесь на пробную практику.")
        meta(property="og:image", content="http://yogamoskvacity.ru/img/og.jpg")
        meta(property="og:type", content="product")

        meta(name="twitter:card", content="product")
        meta(name="twitter:site", content="http://yogamoskvacity.ru/")
        meta(name="twitter:title", content="Йога Москва Сити – запишитесь на пробную тренировку | Йога Москва Сити")
        meta(name="twitter:description", content="Центр йоги в Москва Сити. Занятия йогой на высоте птичьего полета. Йога-инвентарь бесплатно. Кондиционирование помещения, душ, туалет. Запишитесь на пробную практику.")
        meta(name="twitter:image:src", content="http://yogamoskvacity.ru/img/og.jpg")

        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/apple-touch-icon.jpg")
        
        link(rel="stylesheet" href="css/main.css" inline)

        <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    body
        .loader#loader
        a(href="#top").to-top
        include templates/navigation-fixed
        #top
        .video-bg
            .video-bg_shade
            video.video-bg_video#video-bg_video(preload='auto' poster='img/bg.jpg')
                source(src='video/background.mp4' type='video/mp4')
                source(src='video/background.webm' type='video/webm')
            .video-bg_wrapper
                include templates/header
                include templates/offer
        include templates/views
        include templates/classes
        include templates/shedule
        include templates/trainer
        include templates/additions
        include templates/price
        include templates/founder
        include templates/faq
        include templates/contacts
        include templates/map
        include templates/action
        include templates/footer
        include templates/modals/call
        include templates/modals/order
        include templates/modals/policy
        include templates/modals/thanks
        include templates/modals/registration
        include templates/modals/more
        include templates/modals/sale
        script
            | (function(){ var widget_id = 'sxagu2dKmN';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        include templates/metrika.html
        script(type='text/javascript' src='//api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(type='text/javascript' src='js/main.min.js')